[2013-04-30 13:33] wizonesolutions opened #1 "Remove misleading documentation"
Mainly the part about using `gem install vagrant-hostsupdater`. Should be `vagrant plugin install vagrant-hostsupdater`.

[2013-05-01 20:25] #1 closed, assigned to nobody

[2013-05-03 09:16] atosatto opened #2 "Can't convert NilClass to String Exception executing vagrant destroy"
To reproduce the bug is sufficient to execute the command `vagrant destroy` on a running or previously halted virtual machine.

I attach here the full terminal output:

[code]

Thanks!

[2013-05-10 23:25] #2 closed, assigned to agiledivider

[2013-05-31 17:40] tpbrown opened #5 "Hosts removed even if VM not destroyed"
A vagrant destroy command immediately removes the /etc/hosts entries prior to the Vagrant Y/N prompt.

If possible it would be better to only remove the entires after the user has confirmed they wish to destroy.

$ vagrant destroy
[default] Removing hosts
fd58effd-d272-4133-8058-22b830d2ce64
fd58effd-d272-4133-8058-22b830d2ce64
removing uids
sed -e '/fd58effd-d272-4133-8058-22b830d2ce64/ d' -ibak

[2013-05-31 21:43] tpbrown opened #6 "Skip sudo if the user has write permissions to /etc/hosts"
If users have write permissions to /etc/hosts we shouldn't force a sudo (to avoid the pw prompting).

if !File.writable?("/etc/hosts")
      sudo(removeFromHosts)
else
      `#{removeFromHosts}`
end

Would work, if you disabled the backups in sed. The backup file creation requires write access to /etc which I doubt people want to open up that wide.

[2013-06-06 15:57] patcon opened #7 "Consolidate /etc/hosts management plugin efforts"
https://github.com/mosaicxm/vagrant-hostmaster

It seems that the maintainer of vagrant-hostmaster has, for all intents and purposes, abandonned the project. If you feel you can shepherd a project more effectively, I'd be happy to raid his issue queues and try to send everyone your way.

Also, so long as you attribute, I also can't see any problem with leveraging some of the code and features that

[2013-06-06 23:56] tpbrown opened #8 "Errors on 'vagrant destroy' if vm doesn't exist"
Hostupdater isn't handling a destroy request properly if the VM is already destroyed.

i.e. - execute vagrant destroy twice and on the second invocation you'll get:
/Users/tpbrown/.vagrant.d/gems/gems/vagrant-hostsupdater-0.0.5/lib/vagrant-hostsupdater/HostsUpdater.rb:51:in `quote': can't convert NilClass to String (TypeError)
    from /Users/tpbrown/.vagrant.d/gems/gems/vagrant-hostsupdater-0.0.5

[2013-06-10 21:12] #6 closed, assigned to nobody

[2013-06-11 00:30] patcon opened #10 "Leverage ghost gem"
https://github.com/bjeanes/ghost/tree/master/lib/ghost/cli/task

[2013-06-11 17:44] einsty opened #11 "Windows Support? What would it take?"
Thanks so much for this little plugin.  SO far it is working like a champ for those in our team who are on *nix operating systems but the Windows folks are left hanging in the wind.

I might be inclinded to help out on this task but not totally familiar w/ ruby, would this be as easy as extracting the path that is used in the .rb file several times into a variable that is determined in some fashio

[2013-06-16 04:07] rogeriopradoj opened #14 "Aliases should be kept in same line as host declarations?"
@cogitatio, I don't now if it would really be an enhancement (I've heard from @alganet we could share cookies between hosts if they were declared together).

Anyway, the way `/etc/hosts` is defined currently:

    192.168.56.101  s4aws.localhost  # VAGRANT: 0c9076b3-e38f-4b9d-b62b-210c8fc67043 (default)
    192.168.56.101  www.s4aws.localhost  # VAGRANT: 0c9076b3-e38f-4b9d-b62b-210c8fc67043 (defau

[2013-06-16 05:34] einsty opened #15 "ignore machines that havn't been created yet"
In a multi-machine vagrant configuration, it is possible to end up in a scenario where the hostsupdater tries to remove hosts for a machine that hasn't been created yet.  For example,

Assume web01 and db01 machines are defined but have not been created
User does vagrant up web01
Then user does vagrant halt

In this situation, hostsupdater presents an error on the halt because of a specific error

[2013-06-18 21:57] #11 closed, assigned to nobody

[2013-06-18 22:04] #8 closed, assigned to nobody

[2013-06-18 22:05] #15 closed, assigned to nobody

[2013-06-24 22:11] whastings opened #16 "Exception when hashing machine's uuid"
Hello,

We were using hostsupdater for a few weeks for our project, but we're having an issue since the last couple of releases came out. When attempting to "vagrant up" a virtual machine, we receive the following error:

Bringing machine 'default' up with 'virtualbox' provider...
[default] Checking for host entries
/Users/willhastings/.vagrant.d/gems/gems/vagrant-hostsupdater-0.0.9/lib/vagrant-ho

[2013-06-26 22:59] #16 closed, assigned to nobody

[2013-06-29 16:59] markjaquith opened #18 "Flush DNS cache after changes"
After changing the hosts file, an effort should be made to flush the system DNS cache to make sure no old entries are lingering:

On OS X: `dscacheutil -flushcache; sudo killall -HUP mDNSResponder`

http://support.apple.com/kb/ht5343

[2013-06-29 17:04] markjaquith opened #19 "remove_on_suspend should default to true"
Regarding #4, I think having `remove_on_suspend` default to `false` is very odd.

Why would you want your hosts entries to persist if your VM is not available? They're not of any use. And if it's a real domain you're resolving, it can actually lead to confusion. The entries relate to the VM. If the VM isn't running, the entries shouldn't be there.

[2013-08-03 11:02] #5 closed, assigned to nobody

[2013-08-07 12:59] radeksimko opened #22 "Remove hosts after actually agreed with destroying the VM"
## Actual situation:

Hosts are removed before the user have chance to confirm destruction.

[code]
## Expected situation:

[code]

[2013-08-07 19:10] pmario opened #24 "Version history should be at the end of the readme."
Hi,
I just discovered this project and it makes my life easier.

I think, the Version history should be at the end of the readme. It took quite a while, till I found the "Installation" instructions, since most projects have the version history at the end of the page. So I stopped scrolling :)

[2013-08-07 19:33] #22 closed, assigned to nobody

[2013-08-15 20:37] einsty opened #25 "newline for windows"
I've noticed when doing a halt then an up in vagrant that the host entry in my windows host file is placed at the end of the last line instead of on a new line.

[2013-10-24 17:58] limeyd opened #26 "Hostupdater Command Not implemented?"
All we get is `ran command` but nothing happens. I see code is all commented out. Any timeline on this?

[2013-10-31 19:36] #25 closed, assigned to nobody

[2013-11-08 20:19] ryanpcmcquen opened #28 "Strange error on first vagrant up [Mac OS 10.8/10.9]"
I have received the same error on 2 separate machines (Macbook Pro @ 10.8 /iMac @ 10.9):

[code]

This is my Vagrantfile:
https://raw.github.com/milojennings/zippy/0.1/Vagrantfile

Everything works perfectly on the second vagrant up.

[2013-11-13 06:12] rigbyjacob opened #29 "Asks for password when modifying /etc/hosts but does not accept vagrant's default password"
This might not be a bug in hostsupdater, more of a misconfiguration on my part, but on my fairly basic vagrant install I keep getting prompted for a password during the /etc/hosts update and yet no password I can think of will work (especially vagrant's default "vagrant" password). Since the vagrant user is setup to be passwordless it's unclear why it should even be prompting for a password?

This

[2013-11-19 12:29] adrianmoisey opened #30 "vagrant-hostsupdater 0.0.11 doesn't work"
It just... doesn't add the hosts file.
If I install 0.0.10 then it adds to the hosts file, if I install 0.0.11, it doesn't.

[2013-11-22 02:52] jhogendorn opened #31 "Hosts file change only happens if provisioning is successful"
#### Bug Description

Running `vagrant up` with `ansible` provisioning fails, due to the hosts file not being altered yet. Running `vagrant up --provision-with=shell` shows the hosts file being updated _after_ the provisioning call.

#### Expected behaviour

Hostsupdater should execute its hooks prior to provisioning executing.

[2013-11-30 19:58] shadyvb opened #32 "Hosts are updated on 'vagrant resume' even if the machine is not suspended"
If the machine is not suspended, invoking 'vagrant resume' shouldn't invoke any action.

[2013-12-02 09:16] #29 closed, assigned to nobody

[2013-12-17 11:04] layerssss opened #34 "failed to remove hosts on vagrant 1.4.0"
Hi.

After I updated vagrant from 1.3.5 to 1.4.0 (I also uninstalled and re-installed `vagant-hostupdater`). The plugin failed to remove the `/etc/hosts` entries. Would you kindly please see what's broken?

here are [some debug logs](https://gist.github.com/layerssss/509b290c43dfca453693). let me know if you need other info :)

[2013-12-30 21:33] zslabs opened #35 "Multiple Sites"
Hi all,
If I have a Vagrantfile in the root of (for example), my `~/Sites` directory and then have projects within that I'd like to have custom hostnames for - does this plugin allow for something like that (to read from internal projects/folders and setup each)?

[2014-03-24 16:02] markjaquith opened #37 "Line break not inserted before first host — leads to broken lines"
MAMP Pro seems to insert its rules at the end of `/etc/hosts` without a trailing line break. vagrant-hostsupdater then adds its rules after without a prepended line break. Thus, two rules get put on one line, and the vagrant-hostsupdater line does not work. I have to manually go in and fix it from time to time.

I would suggest that vagrant-hostsupdater always include a prepended line break.

[2014-04-07 07:50] ypereirareis opened #38 "Wrong line break in /etc/hosts"
Plugin installed in version : 0.0.11

[code]

but having this in my `/etc/hosts` after doing `vagrant up` :

[code]

[2014-04-16 02:01] wizonesolutions opened #39 "Yellow text on white background"
Steps to reproduce:

1. Run a command like `vagrant destroy` when you haven't created a VM.

Expected result: Black on white text.

Actual result: A message in yellow text that I have to highlight to read. It says: `==> default: No machine id, nothing removed from /etc/hosts`

There are others, and this issue is meant to refer to the yellow text in general.

[2014-04-16 08:31] evertiro opened #40 "UAC issues on Windows"
On Windows, hostsupdater fails unless vagrant is run as an administrator. Unfortunately, this is really not the smart way to run vagrant. I know you can elevate privileges through WIN32OLE, but I'm not familiar enough with ruby to actually patch it myself. Thoughts?

[2014-05-15 09:30] melck opened #44 "Update for vagrant 1.6"
Could you update your plugins to be compatible with vagrant 1.6 ?

[2014-05-26 21:11] foxly opened #45 "Install crashes on OSX Mavericks"
It looks like something is seriously wrong with the installer when attempting to set up hostsupdater under OSX Mavericks. Even with root privileges, the installer generates the following output:

[code]
...and when I try to install the dependency directly:

[code]
Note that xcode is installed on this system, and the command-line tools seem to be working. I don't have enough experience with Ruby to

[2014-09-07 19:05] travi opened #48 "apt packages"
- [ ] vim
- [ ] grc
- [ ] rubygems
- [ ] bundler

[2014-09-12 05:07] willenglishiv opened #49 "Plugin does not install on windows 8"
I updated to the latest version of vagrant and wanted to use the resulting hostsupdater.  This worked in the past, but now it seems it's calling for Ruby to be installed, and with Ruby installed, the json gem doesn't install as well.  Cant get around either one.

[code]

[2014-09-29 17:01] EHLOVader opened #50 "osx sudoers and the correct command to allow"
I wanted to allow hosts updater to run without root password on osx. although this is not horrible to work around I feel like it could make it much easier to implement.

Another similar situation was the NFS shares requiring access to /etc/exports.. there was a solution by adding the command to the sudoers file and I have attempted to without success to create a similar solution for this.

Was the

[2014-10-01 05:46] smgladkovskiy opened #51 "Set custom ip"
There would be nice to have a chance to configure ip address that is used in hosts file when host entries are added. The default would be :private_network and if it necessary, user can set

[code]

and override defaults.

What do you think about it?

[2014-10-20 14:51] mtbvang opened #52 "Adding support for docker provider."
Hi,

Are there plans to add docker provider support or is this available already and I have missed it? I tested and got the following configuration working so that the container could be accessed from my local host with the alias on the default port:

   config.vm.network "forwarded_port", guest: 8080, host: 80
   config.vm.network "private_network", ip: "127.0.0.1"
   config.hostsupdater.aliases

[2014-10-24 09:25] carlituxman opened #53 "configuration with yaml"
i'm using the laravel/homestead, Homestead.yaml config has sites like "homestead.app" and in vagranfile

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  Homestead.configure(config, YAML::load(File.read(path + '/Homestead.yaml')))
end

after up at /etc/hosts only appear "homestead" without extension

[2014-10-29 03:49] tillkruss opened #54 "Password-less sudo?"
I'm on OS X. Is there a way to stop Vagrant from asking my password in order to add/remove the host entries?

[2014-11-02 18:32] #48 closed, assigned to nobody

[2014-11-12 23:37] #54 closed, assigned to nobody

[2014-12-23 19:52] blobhouse opened #55 "sudo should ask for password at beginning of 'vagrant up', not in the middle."
Hi,

We've started using this plugin with Vagrant under OS X at our office, and it works well.  But one issue that keeps coming up is that some time after running "vagrant up", 'sudo' requests the user's password (in order to edit /etc/hosts) in the middle of our fairly long provisioning process. The length of that process wouldn't be an issue if a user could start it and walk away, but instead th

[2015-01-12 13:55] njt1982 opened #56 "DHCP / Dynamic IP"
Am I correct in thinking this plugin does not work for networks that use DHCP?

eg:

[code]

[2015-01-12 14:58] njt1982 commented on #56
Seems not - have got around this by using the HostManager plugin instead as that allows us to extend the ip resolver:

[code]

This, of course, assumes VirtualBox as the host. See: https://github.com/smdahlen/vagrant-hostmanager/issues/86

[2015-01-19 18:34] ngConsulti commented on #54
The working answer could be captured as a shell script in the repo to make life easier for users...
See: [https://gist.github.com/EHLOVader/606f7c9f8717608527b8](https://gist.github.com/EHLOVader/606f7c9f8717608527b8)

For example, here is my `add_vagrant_hostupdater_to_sudoers.sh`:
[code]

[2015-01-22 15:53] opepin commented on #28
got the same issue on 1.4.3 - vagrant-hostsupdater (0.0.11)

[code]
Works the second time (and asked for the sudo password to edit the /etc/hosts file)

[2015-01-28 16:54] heyalbert opened #57 "Installation break up - Nokogiri issue"
vagrant plugin install vagrant-hostsupdater
Installing the 'vagrant-hostsupdater' plugin. This can take a few minutes...
Bundler, the underlying system Vagrant uses to install plugins,
reported an error. The error is shown below. These errors are usually
caused by misconfigured plugin installations or transient network
issues. The error from Bundler is:

An error occurred while installing nokogiri

[2015-01-29 15:46] timalbert commented on #57
I have this same problem.

[2015-01-30 05:26] Johnstonian commented on #57
same problem for me as well :(

[2015-01-30 05:29] Johnstonian commented on #19
+1

[2015-01-31 21:52] hackeron commented on #57
Same problem here :( - weird thing running:

[code]

Succeeds without any issues - but fails when installing from bundler :/

[2015-01-31 23:01] Johnstonian commented on #57
I experienced the same. Could it be a permissions issue?
On Sat, Jan 31, 2015 at 3:52 PM xanview <notifications@github.com> wrote:

[2015-02-02 04:36] mefellows opened #58 "Support for multiple `private_network` adapters"
Given the following Vagrant setup, vagrant-hostsupdater produces an invalid `/etc/hosts` file where different hostnames need to be bound to different IP addresses within the guest:

[code]

The `/etc/hosts` file will look something like:

[code]

It would be great if support for mapping IPs to hostnames were added:

e.g. a syntax something like:

[code]

would produce a hosts file like:

[code]

[2015-02-03 19:22] Johnstonian commented on #57
what version of Vagrant are ya'll using? This extremely long issue thread seems to point at upgrading to Vagrant 1.7.2. https://github.com/mitchellh/vagrant/issues/3769

I will give that a try to see that solves this dependency issue.

[2015-02-03 19:44] Johnstonian commented on #57
Ok, upgrading to the latest version of Vagrant fixed this issue for me:

[code]
and then:
[code]

show me the plugins!
[code]

[2015-02-03 19:54] Johnstonian commented on #55
This would most likely have to happen at the Vagrant level. Not sure a plugin can make a sudo password request at the beginning of "vagrant up". This is a good idea though. Happens to me all the time and its frustrating. Maybe open an issue with the Vagrant project? https://github.com/mitchellh/vagrant

[2015-02-03 22:36] hackeron commented on #57
For me the issue was a dodgy 3g connection that was killing the download of nokogiri - didn't realise that bundler is so fragile and does not verify the downloaded file or try to resume if download times out or is killed!

[2015-02-06 19:48] saikat opened #61 "Should remove existing entries on a vagrant reload"
If I change the private_network address in my Vagrantfile and issue a vagrant reload command, vagrant-hostsupdater correctly adds the new IP to my /etc/hosts, but it does not remove the old entry.

[2015-02-12 13:20] Advocation commented on #57
Updating Vagrant solved it for me, thanks @Johnstonian !

[2015-02-15 11:44] Hargat commented on #49
Does anyone solve it?

[2015-02-16 14:25] willenglishiv commented on #49
what I had to do was to install the latest versions of everything (vagrant, virtualbox et. al.) and the install worked on Windows 8.1 for me.  The versions I had on MacOSX also worked after upgrading.  You can close this if you want.

[2015-02-16 14:41] Hargat commented on #49
This problem also appeared on WIndows when path to Vagrant, Virtualbox (or to their config) using Cyrillic symbols.

[2015-02-18 20:48] marcovtwout commented on #11
Isn't there a nice way to automatically prompt the user for administrator permissions when attempting to write to the hosts file?

[2015-03-04 07:55] dasrecht commented on #55
Hi there

well we had the same problem and circumvented this the same way it's done when you use NFS mounting on vagrant itself (https://github.com/mitchellh/vagrant/blob/681ba1c3d754b5ec9793a8811ab40eba95c11668/website/docs/source/v2/synced-folders/nfs.html.md)

adding this to the sudoers file should work fine
[code]

Probably we should document this into the readme file and update it when the ho

[2015-03-05 03:59] carlsonorozco commented on #57
Thank you @Johnstonian, update my vagrant to latest version also fixed it.

[2015-03-17 13:53] quater commented on #54
@ngConsulti

The script didn't work on my Ubuntu 14.10 machine. I used your script as starting point and made some improvements to make it work with Ubuntu 14.10.

GitHub: [https://gist.github.com/a90120282a3757ea1b9d.git](https://gist.github.com/a90120282a3757ea1b9d.git)

[code]

[2015-03-20 01:12] JPry opened #63 "Error on vagrant reload"
## Summary

When running `vagrant reload --no-provision` on a Vagrantfile that contains multiple machines, the `vagrant-hostsupdater` plugin will cause a fatal error. I believe that this fatal error is related to having some machines with `autostart: false`.
## Steps to Reproduce
- Install the following Vagrant file, and run `vagrant up`:

[code]
- Run `vagrant reload --no-provision`
- See output

[2015-03-29 07:47] dmatora opened #64 "gem build vagrant-hostsupdater.gemspec produces invalid gem"
[code]
produces empty ~\.vagrant.d\gems\gems\vagrant-hostsupdater-0.0.11 folder
unlike other vagrant plugins

that makes it impossible to build custom gems from plugin forks and makes git useless, unless you merge #41

[2015-03-30 11:20] dmatora commented on #64
ok, nevermind, i just realized it now happens with all the plugins, so it's my system

[2015-03-30 11:20] #64 closed

[2015-04-21 22:23] jeremiahsmall commented on #40
@itsananderson +1 for removing powershell dependency and PR'ing this.

[2015-04-21 22:41] itsananderson commented on #40
I got busy with other things and lost track of this. I think removing the PS dependency should be doable, I just need to find the time to rewrite it. I'll see if I can set aside some time over the next weekend or two. Feel free to ping me if I forget again :)

[2015-05-07 20:50] bretmogilefsky commented on #40
@itsananderson Can you give a pointer to that commit please? Not seeing it in the commit log for this repository.

[2015-05-07 21:57] itsananderson commented on #40
Oh, I was wrong. I saw this: https://github.com/willenglishiv/vagrant-hostsupdater/commit/d5b031ca024b3fb4ebb087dfad357ba8b23c6f4a and incorrectly thought it was in the original repo.

I'll see if I can use that commit as a reference for doing UAC elevation in CMD, so we can get this fix into a PR.

[2015-05-08 01:13] bretmogilefsky commented on #40
@itsananderson That'd be great!

[2015-05-28 06:07] onnimonni opened #67 "Hostsupdater doesn't delete old changes in linux"
We're using this plugin in our wordpress template. It works fine in OS X, but not in Linux. Instead of removing old entries it only adds new ones. You can see the output here:
https://github.com/Seravo/wordpress/issues/12

[2015-06-26 11:46] polarathene commented on #40
Just ran into this issue, since the last commit to the plugin was 2013 has development on this repo likely stopped for good? Which repo were you going to send the PR to?

[2015-06-27 00:11] jeremiahsmall commented on #40
Hmm, @cogitatio has been totally silent on GitHub for the previous year. Maybe he wouldn't mind if someone took over maintenance?

[2015-06-29 01:55] GuerrillaCoder opened #68 "[BUG] Segmentation fault"
After I install host updater I get " [BUG] Segmentation fault" and long dump list of ruby files.

I am using vagrant 1.7.2 abd virtual box 4.3.28.

Any ideas what's wrong?  Here is full error:

C:/Users/Mike/.vagrant.d/gems/gems/childprocess-0.5.6/lib/childprocess/windows/lib.rb:308: [BUG] Segmentation fault
ruby 2.0.0p353 (2013-11-22) [i386-mingw32]

-- Control frame information -----------------

[2015-06-29 16:59] tkellen opened #69 "allow opting out"
It would be nice for highly technical users to be able to opt out of using this, and for hostsupdater to provide a message stating what configuration must be added if a user opts out.

Would you accept a PR for this behavior, or consider implementing it yourself?

/cc @tbranyen @jugglinmike

[2015-06-30 17:51] mikemcguire opened #70 "Bundler Says error installing nokogiri"
Sorry I am not sure if this is an issue with this repo or with bundler itself, but..
Getting an error installing "An error occurred while installing nokogiri (1.6.6.2), and Bundler cannot continue.
Make sure that `gem install nokogiri -v '1.6.6.2'` succeeds before bundling."

I ran "gem install nokogiri -v '1.6.6.2'" and it installed just fine. I would assume since it's already installed bundler s

[2015-07-01 09:48] thom8 commented on #70
I'm also having installation issues --

Bundler, the underlying system Vagrant uses to install plugins,
reported an error. The error is shown below. These errors are usually
caused by misconfigured plugin installations or transient network
issues. The error from Bundler is:

Could not find gem 'vagrant-hostupdater (>= 0) ruby' in the gems available on this machine.

Vagrant :: 1.7.2
Ruby :: ruby 2

[2015-07-01 14:57] mikemcguire commented on #70
This appears to be a known issue with Vagrant https://github.com/mitchellh/vagrant/issues/3769
I tried a couple of things but I am pretty sure upgrading my vagrant bin fixed the issue, as well I uninstalled and reinstalled ruby 1.9.3 via rvm.
@thom8 you're issue looks unrelated and you may want to open an new issue as I am marking this as closed. I've heard of people have fixed a similar issue to

[2015-07-01 15:03] #70 closed

[2015-07-22 08:12] aistis- commented on #28
`vagrant halt && vagrant up` solved the error for me.

[2015-07-27 18:23] rocpatel commented on #11
It looks like there are 2 issues here.  The first is that `File.writable?` is not accurately reflecting that the user does not have permission to the file.  This looks like a bug with ruby https://bugs.ruby-lang.org/issues/4712.  Also, was wondering if we could just use the `runas` command for windows.  I can submit a PR that gets around the `File.writable?` bug by using `sudo` when the platform i

[2015-08-03 00:58] chuckd commented on #58
@mefellows we have exactly the same requirement, down to separate IPs for AU and NZ :). Would be grateful if you got a chance to craft up a suitable PR, otherwise I'll have a go based on your work.

[2015-08-03 01:01] mefellows commented on #58
Hi @chuckd, take a look at https://github.com/SEEK-Jobs/vagrant-multi-hostsupdater. We use it a SEEK and it works nicely.

There is an old [PR](https://github.com/cogitatio/vagrant-hostsupdater/pull/59) for this project but there hasn't been any activity in a while.

[2015-08-03 01:03] chuckd commented on #58
Ah, nice, thanks @mefellows, looks perfect, I'll give that a go.

[2015-08-11 23:46] Copper-Head opened #71 "Disable deleting host entries"
We just started using your plug-in and we're very thankful for it. I was wondering, however, if there are any plans for adding an option not to undo the changes to the hosts file upon halting the vagrant machine. The nature of our setup doesn't require us to modify that file all too often and the constant prompts for the admin password are a bit annoying. Just to be clear, I have no problem with t

[2015-09-10 10:26] ivoputzer opened #72 "aliases are ignored on vagrant 1.7.4"
it looks like that on vagrant 1.7.4 the hostname gets inserted correctly into the `/etc/hosts` file though the aliases are just ignored upon vagrant startup instructions.

[2015-09-17 07:07] meitar commented on #55
I just ran into this same issue and independently used the same pattern in my `sudoers` file to make this fix. My setup is slightly different, though, in that on my dev machine, my user isn't in the `admin` group. Seems to me like it would make sense to encourage users who aren't already running as part of an `admin` group for their day-to-day development environment to continue that security best

[2015-10-28 01:07] cgsmith commented on #72
@ivoputzer I don't see an issue running with Vagrant 1.7.4 on Ubuntu 14.04.

Can you provide a sample of what your Vagrantfile looks like?

[2015-11-03 13:18] cgsmith commented on #69
I believe #62 may address this.  If so you can test it locally or submit a PR.

[2015-11-03 13:21] tkellen commented on #69
Hey @cgsmith! This doesn't quite do the trick. Also, this project seems abandoned so I'm not holding out hope it will be merged. Hey, @cogitatio would you be willing to transfer ownership of this repo to me? I'd be happy to maintain it since you clearly don't have the time.

[2015-11-03 13:21] cgsmith commented on #67
This will be addressed in an upcoming release.

[2015-11-03 13:23] cgsmith commented on #69
Hi @tkellen, @cogitatio added me as a contributor for maintaining the repository.  I'd be happy to pull in any PR that you attach for the behavior.  Let me know your thoughts.

[2015-11-03 13:25] tkellen commented on #69
That's great news @cgsmith! I'll see what I can come up with soon.

[2015-11-03 13:31] cgsmith commented on #69
Perfect :+1:

I would gladly implement a solution as well if the specs of what you'd like are defined well.  This next release will focus on fixing the bugs.

[2015-11-03 13:34] cgsmith commented on #57
@carlsonorozco, @heyalbert I am closing this issue as it seems it is working.  If not let me know and I can dig into what's happening.

[2015-11-03 13:34] #57 closed

[2015-11-03 13:37] cgsmith commented on #34
Unfortunately this issue is too old to address.  If you have a similar issue feel free to create a new issue.

[2015-11-03 13:37] #34 closed

[2015-11-03 13:38] #7 closed

[2015-11-03 13:46] #24 closed

[2015-11-03 13:47] #26 closed

[2015-11-04 01:56] cgsmith commented on #40
Hey @jeremiahsmall I will be maintaining the project for @cogitatio - I'll be submitting updates shortly.

[2015-11-04 01:58] jeremiahsmall commented on #40
Okay. Good to see the project lives.

[2015-11-04 02:06] cgsmith commented on #56
@njt1982 I am looking at contributions to get dhcp working well with vagrant-hostsupdater

[2015-11-04 02:08] cgsmith commented on #71
@Copper-Head is this only necessary for `vagrant halt` or `vagrant destroy`?

As for the password prompts, that will be addressed in the documentation in an upcoming release.

[2015-11-04 02:10] cgsmith commented on #68
@GuerrillaCoder Can you share your steps to reproduce if possible?  Do you receive this error directly after running `vagrant plugin install vagrant-hostsupdater`?

[2015-11-04 02:15] cgsmith commented on #58
Hi @mefellows! This looks like it would be a good addition and I can definitely see the need for this as @chuckd does.

Would you be able to resubmit a PR branched from or submitted to `develop` ?

[2015-11-04 02:28] cgsmith commented on #40
:+1:

[2015-11-06 07:34] cd2-public opened #77 "Other Guests using hostsupdater"
this would be super nice-to-have. Right now I run my main machine in Windows, but have a permanent VM which I run through. I Run my vagrant via my host as a guest in a guest seems insane!

Because of this, I'd love a way to output hosts entries in a folder so I can sudo cat filename >> /etc/hosts and use hosts redirects in my other guests.

I realize this is a big-ask, it's complicated, but it wou

[2015-11-06 19:17] cgsmith commented on #77
@cd2-public are you saying that you'd like to have vagrant-hostsupdater run on a guest VM?

[2015-11-07 13:52] Lewiscowles1986 commented on #77
no; I would like the ability to define for groups of VM's hostnames, which hostupdater will update on the host. When setting the hosts on each machine, I would like it to inject all hosts, with their static IP to the guests, so that guests can access each other via hostname as well as IP address

[2015-11-08 01:49] #30 closed

[2015-11-08 01:50] #10 closed

[2015-11-08 02:01] cgsmith commented on #28
I am not seeing this issue occurring.  Is there a simpler Vagrantfile to use to replicate? Does it only happen on new boxes?

[2015-11-08 03:27] cgsmith commented on #67
Fixed in [1.0.0](../releases/tag/1.0.0)

[2015-11-08 03:27] #67 closed

[2015-11-08 03:27] cgsmith commented on #37
Fixed in [1.0.0](../releases/tag/1.0.0)

[2015-11-08 03:27] #37 closed

[2015-11-08 03:27] cgsmith commented on #19
Fixed in [1.0.0](../releases/tag/1.0.0)

[2015-11-08 03:27] #19 closed

[2015-11-08 03:28] cgsmith commented on #61
@saikat can you verify this is still an issue in [1.0.0](../releases/tag/1.0.0)?

[2015-11-08 03:31] cgsmith commented on #55
Going to close this for now.  The main issue was addressed in version [1.0.0](../releases/tag/1.0.0).  Host entries are added before any provisioner runs so the user is prompted fairly quickly to enter the sudo password.

[2015-11-08 03:31] #55 closed

[2015-11-08 03:34] #49 closed

[2015-11-08 03:41] cgsmith commented on #45
This is usually an issue with vagrant being run in an elevated terminal.

[2015-11-08 03:41] #45 closed

[2015-11-08 03:42] cgsmith commented on #38
This is fixed in [1.0.0](../releases/tag/1.0.0)

[2015-11-08 03:42] #38 closed

[2015-11-08 03:44] #35 closed

[2015-11-08 03:45] cgsmith commented on #14
I dont think this is a high priority right now.

[2015-11-08 03:45] #14 closed

[2015-11-08 03:46] cgsmith commented on #31
Hosts are not being updated before provisioning in [1.0.0](../releases/tag/1.0.0)

[2015-11-08 03:46] #31 closed

[2015-11-08 03:47] cgsmith commented on #44
The plugin is working in Vagrant 1.6+

[2015-11-08 03:47] #44 closed

[2015-11-08 03:49] cgsmith commented on #32
I do not see a way that you can prevent vagrant from triggering the plugin - this sounds like an upstream issue.

[2015-11-08 03:49] #32 closed

[2015-11-08 04:58] rogeriopradoj commented on #14
:+1:

[2015-11-08 09:13] mbootsman opened #79 "Need to enter su password on up and halt"
Hi,

I need to enter the su password on vagrant up/ halt. How can this be solved so that the hosts-updater has write access rights to /etc/hosts?
OS: Ubuntu

[2015-11-08 12:51] cgsmith commented on #79
#50 addresses this.  If you find something specific you can add the details in that issue

[2015-11-08 12:51] #79 closed

[2015-11-08 13:08] cgsmith commented on #40
@itsananderson if youd like to submit a pull request that's be great. Otherwise I'll take a crack at it in a couple weeks.

[2015-11-08 13:52] mbootsman commented on #50
I tried this, but no luck.
My sudoers looks like this:
[code]

[2015-11-08 14:41] lukasluecke commented on #50
I just updated my answer with what I'm using now

[2015-11-08 16:20] ryanpcmcquen commented on #28
@cgsmith you can try this one: https://gist.github.com/ryanpcmcquen/e2f1e9424671c2bbd251

I haven't tried any of these projects in over a year, so the issue may have been fixed by something else at this point.

[2015-11-08 16:20] ryanpcmcquen commented on #28
And yes it only happens on new boxes, as @wheelsandcogs said.

[2015-11-09 02:09] dtbaker commented on #28
Ditto getting the same error here. Fresh install, just install vagrant 1.7.4 from https://www.vagrantup.com/downloads.html and ran `vagrant plugin install vagrant-hostsupdater` then `vagrant plugin install vagrant-triggers` then `vagrant up` and received:

[code]

[2015-11-09 02:34] cgsmith commented on #28
I'll try and find what is going on - I am seeing the issue as well.

[2015-11-09 02:53] cgsmith commented on #28
@dtbaker can you verify that this fixes the issue? You can install this bugfix plugin by downloading, unzipping, and typing `vagrant plugin install vagrant-hostsupdater-1.0.1.gem`

http://d.pr/f/15zfg

[2015-11-09 02:55] cgsmith commented on #28
I think the issue was caused by the box not being fully loaded in Vagrant.  Perhaps not all the variables were set? Vagrant SetHostname should be the proper hook for `vagrant up`

[2015-11-09 03:04] cgsmith commented on #50
This works on my machine.  @mbootsman is it working for you now? What OS are you running?

[2015-11-09 06:38] nzhuk98 commented on #28
Just had this same issue. 1.0.1 you linked fixed it.

[2015-11-09 07:52] mbootsman commented on #50
@cgsmith Too bad it's not working for me. I'm using ubuntu 15.10.

[2015-11-09 09:13] YHuard commented on #28
Thank you @cgsmith, it worked for me as well!

[2015-11-09 09:40] federicoweber commented on #28
thanks @cgsmith, that solved it.

[2015-11-09 12:23] wannesderoy commented on #28
I too can confirm @cgsmith's fix worked for me. Thanks!

[2015-11-09 14:16] #28 closed

[2015-11-09 15:16] cgsmith commented on #28
Fixed in 1.0.1

[2015-11-09 15:17] e7d commented on #40
I definetly support @itsananderson solution. Do the PR! :+1:

 I'm currently using the 1.0.1 version from @cgsmith correcting this first start crash. Addressing this issue would make it perfect for Windows users, I guess.

[2015-11-09 15:30] e7d opened #83 "Remove the remaining line feed staying after hosts removal"
I've been using this plugin quite intensively recently, and I would address an annoying issue.

In my Vagrantfile, I got 6 aliases referenced on top of the main hostname. As my project is brand new, on the building side, I'm destroying and rebuilding my virtual machines quite often, up to 10 times a day.
I see no problem with the hosts addition, everything comes perfectly. But when it comes to del

[2015-11-09 18:29] cgsmith commented on #50
@mbootsman I will test this out this week to see what might need to be tweaked.  I remember some post referencing `%sudo` instead of admin.  Maybe try that?

[2015-11-10 03:09] EHLOVader commented on #50
Thanks for the update @lukasluecke I had recently been experiencing issues with the halt and removal of hosts file entries but your solution fixed that for me.

I have updated my fork of the `install_vagrant_sudoers.sh` script with this and also improved the reliability of the removal to prevent duplicates.

https://gist.github.com/EHLOVader/606f7c9f8717608527b8

[2015-11-15 11:17] QWp6t commented on #40
@cgsmith @itsananderson

This should hopefully be a good starting point...

[code]

[code]

[2015-11-16 01:07] QWp6t commented on #40
So far that code above has been working for me. Has no 3rd party dependencies. Works with multiple entries. I think that's probably the way to go. But feel free to test it on your own.

If we could get `sh.ShellExecute` to properly send line-breaks to `sh.exe`, then we could remove the temp file workaround. But so far in my testing, it just puts everything on one line.

[2015-11-17 00:31] sorinstanila commented on #53
fixed in laravel/homestead@27eec636e9d
You should only define the "name" variable in Homestead.yaml

[2015-11-17 00:46] cgsmith commented on #53
:+1: @sorinstanila

[2015-11-17 00:46] #53 closed

[2015-11-19 00:48] QWp6t commented on #18
:-1:

This isn't needed for any OS other than OS X, and even then, the command to do it is inconsistent across versions.

[2015-11-24 14:23] cgsmith opened #88 "vagrant up removes hosts if vm is up"
When you run `vagrant up` after the VM is already running it will first remove the hosts and then mention that the VM is already running.

[2015-12-01 19:04] ryanaltvater commented on #88
I have a very similar issue. When I run `vagrant up` after a `vagrant suspend`, it removes the hosts as it's first step. If I run `vagrant reload` (or `vagrant destroy` then `vagrant up`), the issue doesn't occur and I can access the local dev URL just fine.

<img width="527" alt="screen shot 2015-12-01 at 2 00 00 pm" src="https://cloud.githubusercontent.com/assets/1336787/11510904/f09e90aa-9833-1

[2015-12-04 19:10] colin-marshall commented on #88
Having the same issue here. Hosts aren't added on `vagrant up` but they are added on `vagrant reload`.

[2015-12-07 02:08] jazbek commented on #50
I am having the same issue, `vagrant up` errors out with:

`/Users/jessica/.vagrant.d/gems/gems/vagrant-hostsupdater-1.0.1/lib/vagrant-hostsupdater/HostsUpdater.rb:85:in `initialize': Permission denied - /etc/hosts (Errno::EACCES)`

...unless I use sudo.

I have the following in my sudoers, but it doesn't seem to make a difference:

	# vagrant-hostsupdater
	Cmnd_Alias VAGRANT_HOSTS_ADD = /bin/sh -

[2015-12-07 03:10] EHLOVader commented on #50
@jazbek and any others running into this problem. It appears you might not have permissions to your `/etc/hosts` file....

Try using sudo once to assign those rights, you may find the sudoers patch you have then works.

[code]
via https://github.com/cogitatio/vagrant-hostsupdater/pull/47

[2015-12-07 16:41] zxaos commented on #50
That did it for me, but it's bizarre - as far as I know nothing's changed and this seemed to just suddenly stop working.

[2015-12-07 18:54] EHLOVader commented on #50
What version of OSX were you on @zxaos?
l didn't see it mentioned above. If you are on El Capitan the new ["System Integrity Protection"](http://arstechnica.com/apple/2015/09/os-x-10-11-el-capitan-the-ars-technica-review/8/#h1) is possibly at fault.

[2015-12-07 18:56] zxaos commented on #50
I'm on El Capitan, but it's successfully worked on this version before. Additionally, I'm pretty sure the chmod command shouldn't fix it if it's SIP-related, because you can't modify SIP protected files, even with sudo (you have to reboot and turn SIP off to change them in any way).

[2015-12-15 16:06] JhovaniC commented on #88
I'm having the same issue. Hosts are removed as first step in `vagrant up` and are not added unless I do  `vagrant reload`.

[2015-12-18 03:09] YAmikep opened #89 "Permission denied - C:/Windows/system32/drivers/etc/hosts (Errno::EACCES)"
I get this error on the first `vagrant up`:
`Permission denied - C:/Windows/system32/drivers/etc/hosts (Errno::EACCES)`

Windows 10
Virtualbox 5.0.10
vagrant 1.7.4

[code]

[2015-12-18 03:21] YAmikep commented on #89
Nevermind, I think I found why. I'm using git bash through conemu and I have to start gitbash as administrator.
Is that correct?

[2015-12-18 15:17] YAmikep commented on #89
One thing I have noticed though, by running as the administrator, the VM does not appear in VirtualBox  anymore. It could be related to this: https://github.com/mitchellh/vagrant/issues/4286

Is running as administrator the way to go for hostupdated to work anyway?

[2015-12-18 16:15] YAmikep commented on #89
I found a workaround in another issue ticket.

Open %SystemRoot%\system32\drivers\etc in Windows Explorer, locate the hosts file, right-click it and set the usage rights to the current user (the one you run vagrant under) to allow file modification.
The plugin has no problems to work then, you don't need to run vagrant as administrator.

If that it requires, maybe this could be added to the docume

[2015-12-18 21:16] crussell52 opened #90 "Off By Default"
Currently, this plugin "activates" if two standard config options.

In the case where I want the hosts file managed for one vagrant machine, I must alter the configurations for all other vagrant machines to *avoid* hosts file management.

I would like to see this plugin require a plugin-specific configuration flag to be turned on.  For example:

[code]

This would make the plugin far less aggressi

[2015-12-18 21:24] crussell52 opened #91 "Option for adding 127.0.0.1 entries"
In some cases, it is preferable to connect to the vagrant machine using localhost and forwarded ports.

(One such case is when on a securely configured VPN which sucks up all LAN traffic.)

In these cases, it would be very convenient if there was an plugin option enabling localhost entries.

[code]

It may also make sense to add a similar flag to turn off private network IPs. That way, the followi

[2015-12-21 18:22] moe2566 commented on #89
Having the same issue.
Problem here is that it worked from regular cli without elevated permissions up until I tried setting up a .cmd file to start vagrant on pc startup (which failed).

Here's the .cmd contents:

[2015-12-23 09:39] dblencowe opened #92 "Permission denied - /etc/hosts (Errno::EACCES)"
In the last week vagrant-hostmanager has stopped working on my machine. Rather than asking for my password to edit the hosts file it fails on an access denied with the message below.

I recently updated the plugin but I've been doing a load of other vagrant stuff recently so I'm not sure exactly what might have caused this. I'm running the latest OS X, Vagrant 1.7.4 and have got the same error on

[2015-12-23 09:56] dblencowe commented on #92
So I've tried allowing my user (the one running the vagrant up) write access to /etc/hosts and am still getting the same error.

[2015-12-23 13:45] ahebrank commented on #88
I can fix this for my machine (with Vagrant 1.8, both booting fresh and with an `up` after suspend) by changing the up hook from:

[code]

to

[code]

I'm assuming `up` with an active hosts doesn't trigger the sethostname builtin, but I also assume there's a reason it's set up this way which is why I haven't done a PR.

[2015-12-26 12:51] mefellows commented on #58
Hi @cgsmith - sorry I don't know how I missed this! I'll take a look at the fork and see what I can do. Given this has good visibility it would be nice to contribute back.

[2016-01-04 09:43] Mijathi commented on #50
Same problem here and as sudden as others seem to mention. I'm on the latest OS X 10.11.2 (15C50).
It seems though you guys have a solution, but it's a little unclear to with al these comments.
Would it be possible to summarize the full work-around?

[2016-01-04 10:25] lukasluecke commented on #50
Well my original solution is still working fine for me, even on the latest OS X 10.11.3 Beta - did you already try that? (Run `visudo` and paste the code blocks from my post)

[2016-01-04 10:50] Mijathi commented on #50
Hello lukaslueke the following works for me:

`sudo chmod +a "$USER allow write,append" /etc/hosts`

I did not need to change sudoers.

[2016-01-04 11:49] lukasluecke commented on #50
Yeah this should work as well, but will allow any program you run to write to your hosts file which might be considered a security risk by some.

[2016-01-04 15:11] iamtimde commented on #92
i have the same issue :-(

[2016-01-04 15:13] dblencowe commented on #92
We ended up switching to vagrant-hostmanager. https://github.com/roots/trellis/pull/443/files

[2016-01-04 15:18] iamtimde commented on #92
thank you, i am switching too ;-)

[2016-01-06 20:41] iandunn commented on #92
I started getting this problem today too, with:

* OS X 10.11.2
* Vagrant 1.7.4
* vagrant-hostsupdater 1.0.1

Before today, it'd been working fine for more than a year. I updated to Vagrant 1.8.1, removed and re-installed all the plugins, and I'm still getting the error.

[2016-01-07 08:32] bkeetman commented on #92
@iandunn Same thing for me, I downgraded to 1.7.4 from 1.8.1 seeing a colleague with no issues was still running that version. Dit not have any effect...

[2016-01-12 17:50] chrisgoddard commented on #92
Started having this problem today.

Tried updating to latest version of Vagrant and all plugins, but no dice.

For now I've had to uninstall hostsupdater and edit the hosts file manually but I'd love to know if anyone gets a solution for this.

[2016-01-12 20:07] Copper-Head commented on #71
Thanks for getting back and sorry about the delay. I originally saw this as only necessary for `vagrant halt`, since it would be kind of expected to undo this step with `destroy`.

[2016-01-15 00:16] Radau commented on #92
Also happening here within the past few days, can't pinpoint what caused it. I recently upgraded to 1.8.1, so I tried reinstalling the plugins and even downgrading back to 1.7.4 to no avail.

[2016-01-15 01:08] cgsmith commented on #92
I am trying to replicate the issue but am not having any luck.  Everything is working for me with my VagrantFiles.

[code]

Can anyone share a vagrantfile that is not working?

[2016-01-15 01:35] cgsmith commented on #91
@crussell52 I worry about the localhost getting polluted. Is this a worry for anyone else?

What about using vagrant's forwarded ports?

[2016-01-15 01:37] cgsmith commented on #90
@crussell52 I do like this idea of having the plugin off by default - most other plugins have a mechanism to enable it.  You bring up a good example of editing multiple VagrantFiles just to turn the plugin off.  Where as you'd edit a few to turn them on.

[2016-01-15 01:43] cgsmith commented on #88
Thanks @ahebrank - This fixes it for the second `up` even after suspend.  I will release the next version shortly.

[2016-01-15 01:43] #88 closed

[2016-01-15 01:44] cgsmith commented on #83
This is being addressed with a recent PR. Closing the issue - release of 1.0.2 is coming soon.  Let me know if that addresses this.

[2016-01-15 01:44] #83 closed

[2016-01-15 01:46] cgsmith commented on #39
Addressed in an upcoming release.

[2016-01-15 01:46] #39 closed

[2016-01-15 01:57] Radau commented on #92
Issue is occurring for me on [VVV](https://github.com/Varying-Vagrant-Vagrants/VVV) on a slightly older version.

[2016-01-15 02:15] cgsmith commented on #69
Releasing in 1.0.2

[2016-01-15 02:15] #69 closed

[2016-01-15 02:17] cgsmith commented on #72
Closing - I have not been able to reproduce this issue.

[2016-01-15 02:17] #72 closed

[2016-01-15 02:18] cgsmith commented on #68
It seems like this issue is related to older versions and not the plugin itself.  Feel free to reopen if there is more information.

[2016-01-15 02:18] #68 closed

[2016-01-15 02:33] cgsmith commented on #71
@Copper-Head I am adding this functionality in 1.0.2

`config.hostsupdater.remove_on_suspend  = false`

You were able to do this in 1.0.1 but it only worked on suspend.  It works on `vagrant suspend` and `vagrant halt` now.  Expect a release soon.

[2016-01-15 02:33] #71 closed

[2016-01-15 03:15] cgsmith commented on #92
@Radau which is the slightly older version for you?

[2016-01-15 03:43] Radau commented on #92
@cgsmith It was off of the develop branch roughly a year ago, so the Stable 1.2.0 release should be very similar to what I'm running.

[2016-01-15 03:44] cgsmith commented on #92
Ok - I will try 1.2.0 and report back.  Thanks @Radau

[2016-01-15 03:50] cgsmith commented on #92
I cannot reproduce the issue with VVV 1.2.0.

[code]

Sets the host fine. Anyone willing to do a Google Hangout to track down this issue?

[2016-01-15 03:52] cgsmith commented on #92
Sorry you had to switch @dblencowe - I wish I could reproduce this issue for you so you wouldn't need to switch.  It seems like the Ansible provisioner failed and was trying to perform cleanup tasks and at some point called the hook for cleaning up the host file.

[2016-01-15 05:19] tkellen commented on #69
cc @tafsiri, it's here!

[2016-01-15 05:19] tkellen commented on #69
thanks @cgsmith !

[2016-01-15 06:27] Radau commented on #92
I have tried running `vagrant up` on the stable release as well and it is happening to me. I have a feeling the issue either lies within OS X or Vagrant itself. There's no reason the sudo method should be failing, it doesn't even prompt it (for me at least), it just fails with Errno::EACCES as above.

I'm not sure if this is related but I did run into an issue with my system today where it was no

[2016-01-15 11:07] e7d commented on #83
Yup, perfect ! That does the trick. :)

[2016-01-15 14:53] crussell52 commented on #91
One of the work-arounds I *had* for the VPN-scenario is to use `localhost:8000` in my browser for reaching the application.  However, I am working on a multi-tenant site where the subdomain is meaningful (part of the resolving usernames).  This makes the ability to use subdomains paramount.

In reality, I would still be using port forwarding in conjunction with the hosts rewriting to reach the app

[2016-01-15 19:03] Radau commented on #92
Just tried running Vagrant as the root user on my system and it looks like hostsupdater went through.

[2016-01-17 20:49] iampuma commented on #56
Would be great if this could be supported. For now I also recommend the solution @njt1982 suggests, thanks.

[2016-01-26 21:21] ianrobertdouglas opened #94 "Adding ipv6 address to hosts file?"
I've been trying to resolve some serious lagging issues in my Vagrant install, under Virtualbox in OSX 10.11.2. I have been seeing long delays if I want to navigate around Wordpress admin panels, for example. Or in executing an action of whatever kind.

Long story short, this led me to investigate DNS, because when the action is finally executed, its very fast. Along the way, I tried executing the

[2016-01-27 22:14] Radau commented on #92
So I have a pretty awful solution for this. For whatever reason the OS X ACLs for my user don't seem to be applying applying to ruby (the one that allows my user to read/write without escalating privs `ls -la /etc/hosts -rw-r-r-+ 1`).

I ran `sudo chmod 666 /etc/hosts` and all of the hosts add properly. Obviously this is something you should never really do, but it does work as a temporary fix for

[2016-01-28 06:40] jb510 commented on #92
FWIW, this is also happening with vagrant-ghost (on VVV and HGV).

My guess is it's either related to the deprecated sudo warning I've been seeing... or a change to OS X permissions/security around /etc/hosts.

For now I've uninstalled both vagrant-hostsupdater and vagrant-ghost and am back to updating my hosts file manually.

[2016-01-28 13:34] cgsmith commented on #92
@jb510 do you know a way to duplicate this issue? I'm not sure that there is much I can do to help, the problem is not happening for me.

@Radau out of curiosity does a `sudo vagrant up` allow changes? That would point to the ACL like you were saying then.

[2016-01-28 15:32] iandunn commented on #92
@jb510 I was seeing a `sudoers` warning around the same time this started, so that may be related. I had added an `includedir` statement to `/private/etc/sudoers`, and was getting an error like `/Users/ian/dotfiles/sudoers.d is owned by uid 501, should be 0`. The problem with vagrant-hostsupdater is still happening even after removing that `includedir` line and making the sudoers error message go

[2016-01-28 23:29] jb510 commented on #92
@cgsmith It happens consistently for me.  I'm not sure what the specific cause is. It does seem to have coiencded with updating to OS X 10.11.3 or 10.11.4 Beta.  But that could be purely coincidental.

Uninstalling hostsupdater and manually managing hosts vagrant comes up fine.

Setting hosts to 777 also works fine, so it does seem to be access related. Why the vagrant machine suddenly can no long

[2016-01-29 04:29] Radau commented on #92
@cgsmith I did not run sudo vagrant up, [but I did run it as root earlier](https://github.com/cogitatio/vagrant-hostsupdater/issues/92#issuecomment-172054789). Simply sudo su'd, copied my project in to an separate folder (just incase, didn't want to mess any of my data up), and ran `vagrant up` as the root user. Everything went through fine when I tried this.

[2016-01-30 00:20] vaurdan commented on #92
I'm having the exact same problem. Before it would ask for my sudo password, now it simply stops running with that same error.

[2016-02-03 11:46] hlb-schmidt opened #95 "do not remove hosts entry for already running vm"
[code]

when doing `vagrant up`, and the machine is already running, vagrant-hostsupdater should not remove the hosts entry.

[2016-02-06 19:35] cgsmith commented on #95
@hlb-schmidt this should be fixed.  Try running `vagrant plugin update vagrant-hostsupdater` to update the plugin.

Feel free to reopen if there is still an issue after updating.

[2016-02-06 19:35] #95 closed

[2016-02-07 14:29] maximerety commented on #58
Hi guys!

I would also really like to see this feature land, so I resubmitted a PR branched from `develop`:  https://github.com/cogitatio/vagrant-hostsupdater/pull/96

The code is slightly different from @mefellows' commit to handle `config.vm.hostname` as before, even when a hash of aliases is given (and does not contain an alias with the same host), i.e.
[code]

The original behavior is not chan

[2016-02-11 07:58] Mijathi commented on #92
This should help:

`sudo chmod +a "$USER allow write,append" /etc/hosts`

[2016-02-11 15:09] oskude commented on #90
what happens if the plugin is not installed and you got `config.hostsupdater.manage_hosts = true` in the Vagrantfile?

[code]

users would have to install the plugin - *what in this case is completely irrelevant/optional for operation of the guest machine* - or remove the entry to be able to get the guest machine up and running.

so personally i like the fact that i don't need to modify my **guest

[2016-02-11 15:15] oskude opened #97 "admin notice even if hosts editable"
just a minor nag,

my `/etc/hosts` is editable by my user

[code]

yet `vagrant-hostsupdater` says i need administrator rights

[code]

but does actually modify `/etc/hosts`

[code]

[2016-02-11 15:28] iandunn commented on #92
That might be acceptable as a temporary workaround, depending on your circumstances, but it's not a great permanent solution, because it would make you much more vulnerable to local DNS hijacking, since malware wouldn't need you trick you into entering your password.

[2016-02-13 02:58] cgsmith commented on #97
Good point @oskude - The message was intended to let the user know that if it was not added that they could add it manually.  It can be changed to only show if the file is not written to.

[2016-02-13 03:18] cgsmith commented on #90
@oskude you can always wrap the VagrantFile with this:

[code]

[2016-02-15 08:42] nepda opened #99 "Readding host on vagrant up, if the VM is already running"
If you run `vagrant up` for a already running VM, the host gets removed, but not re-added:
[code]
It would be nice, if the hostname gets added again after a successful `vagrant up`.

[2016-02-16 15:44] Mijathi commented on #92
Correct, until a fix is available ... .

[2016-02-17 16:54] cgsmith commented on #99
Please update the plugin by running `vagrant plugin update`

[2016-02-17 16:54] #99 closed

[2016-02-26 15:58] richard-scott opened #100 "Typo in readme.md"
There is a typo [here](https://github.com/cogitatio/vagrant-hostsupdater/blob/master/README.md#keeping-host-entries-after-suspendhalt):

[code]

Should be this:

[code]

Otherwise Vagrant errors on startup:

[code]

[2016-03-07 22:03] tkellen opened #101 "allow wholesale skipping"
It's awesome that this plugin will skip prompting if you've configured your hosts ahead of time. It would be even cooler if you could opt to skip as a box is being brought up, that way the security conscious don't have to stop the process, go add the entries, and run `vagrant up` again.

[code]

Thoughts?

[2016-03-08 00:41] cgsmith commented on #101
Hey @tkellen! I like the idea.  Don't have time to try it today but will attempt when I get more time.

Kick ass avatar photo by the way! What a huge saw!

[2016-03-08 02:06] tkellen commented on #101
Thank you *so* much @cgsmith! We use this plugin a TON at [Bocoup](http://bocoup.com)!

[2016-03-08 02:14] tkellen commented on #101
ps: thanks about the avatar, if you want to see what i was sawing you can watch this!
https://vimeo.com/120923927

[2016-03-08 03:27] loganfreeman opened #102 "No machine id"
==> node-3: [vagrant-hostsupdater] No machine id, nothing removed from C:/WINDOWS/system32/drivers/etc/hosts
==> node-3: VM not created. Moving on...
==> node-3: [vagrant-hostsupdater] Checking for host entries
C:/HashiCorp/Vagrant/gems/gems/vagrant-hostsupdater-1.0.2/lib/vagrant-hostsupdater/HostsUpdater.rb:126:in `digest': no implicit conversion of nil into String (TypeError)
        from C:/Has

[2016-04-04 15:18] dmalouf opened #103 "Sudo / Sudoers.d fix is slightly different in Ubuntu 15.10"
I am currently using Ubuntu 15.10 with the Mate desktop.  I am using Vagrant 1.7.4 which was installed using either Synaptic or apt-get (I cannot remember) - either way, using the distribution's version.

I am very grateful for the easy-to-use "[getting around entering a password all the time](https://github.com/cogitatio/vagrant-hostsupdater#passwordless-sudo)" fix that has been provided - specif

[2016-04-15 17:13] Enchiridion opened #104 "Allow suppressing console output"
It'd be great if there was an option to not display every found entry on vagrant up.  I have quite a few aliases added for the many websites I'm working on and it's a wall of text every time I vagrant up.
Maybe instead of showing every entry it could be summarized on a single line?
Thanks!

[2016-04-17 17:07] austinpray commented on #103
Can confirm this fixed my issues on Ubuntu 14.04 with 4.2.0-30-generic kernel

[code]

[2016-04-23 12:01] afercia opened #106 "Readme resume_on_suspend or remove_on_suspend"
Hello :) I guess this in the Readme:

[code]

Should be instead this?

[code]

[2016-04-26 02:35] andrewrothstein opened #107 "Ubuntu xenial is not playing nicely"
this works if I use the ubuntu/trusty64 box but not the ubuntu/xenial64 box. any suggestions?

best, Andrew

[code]

[2016-04-26 08:40] kucrut commented on #107
I spent/wasted 3+ hours with `ubuntu/xenial` until I gave up and found `gbarbieru/xenial`.

[2016-04-28 13:53] jounileander commented on #92
I was able to finally solve this problem by installing and rehashing my Ruby and it's shims with rbenv. So I would like to say that it's actually a problem with your development environments ruby setup and how this all changed after updating to El Capitan.. To latest Vagrant.. Or what ever. Still not sure.

For me it all happened like this:
1. Everything works and I'm so happy using latest Vagrant

[2016-04-29 09:50] martinczerwi commented on #103
Can you try using "/usr/bin/env sed" instead of the hardcoded path? This would respect the users path settings, and be more portable I think. We could also skip the notice in the readme.

[2016-04-29 16:32] dmalouf commented on #103
@martinczerwi - good call!  New PR created just-now (#108).  Thanks for the input on this - I didn't think to be portable (much better idea!), I had my head stuck in my own environment (booo!).

[2016-04-29 18:45] drjnet opened #109 "Where do put aliases"
HI,
Aplogies if this is a stupid question but I cant get it working, where do i add additional aliases. Ive converted the line in the readme into config.yaml format

e.g.

config.hostsupdater.aliases = ["alias.testing.de", "alias2.somedomain.com"]

to:

hostsupdater:
    aliases:  ["alias.testing.de", "alias2.somedomain.com"]

But when running vagrant up or provision only the main hostname defined

[2016-04-30 09:18] drjnet commented on #109
I should add Im use puphpet to create the vagrant files. Ive also tried putting the config in the main Vagrant file to no success

[2016-05-03 14:35] mestery commented on #107
Thanks for the tip @kucrut, the `gbarbieru/xenial` box worked for me as well.

[2016-05-03 15:15] andrewrothstein commented on #107
me too. thanks @kucrut

[2016-05-03 15:15] #107 closed

[2016-05-04 03:16] NReilingh commented on #50
I'm on OS X 10.11.4 and I was having problems with the procedure in the readme. If I add the snippet to the TOP of the sudoers file, hostsupdater still asks for a password. But when I added the snippet to the BOTTOM of the file, it worked as desired.

I don't have the chops to discern why this is the case, but I think the readme should be updated once someone figures it out. Hopefully in the meant

[2016-05-13 07:51] jkondratowicz commented on #106
Already fixed in develop branch.

[2016-05-13 13:11] cgsmith commented on #106
I will put a release on master shortly - thanks :)

[2016-05-19 11:20] stefanofm commented on #51
+1

[2016-05-23 08:29] SautdeChat opened #110 "Whitespace in Windows hosts"
The removeFromHosts function leaves a blank line at the end of the hosts file, then the addToHosts function begins by adding a new line. So each up and halt results in another blank line added to the end of the hosts file.

Have solved locally by changing line 118: `hostsFile.write(hosts)` to `hostsFile.write(hosts.rstrip)`

[2016-05-25 14:04] Lewiscowles1986 opened #112 "Error on install or build from source"
Hi,

I've tried googling this, it's really annoying as I've not had many problems with this plugin before...

[code]

Would this happen to be a problem with Ubuntu?

It's 16.04 64-bit, stock vagrant, stock ruby

[2016-05-25 14:09] Lewiscowles1986 commented on #112
:wink: Fixed as per

http://stackoverflow.com/questions/36811863/cant-install-vagrant-plugins-in-ubuntu-16-04

[2016-06-09 17:33] lordhellraiser commented on #104
I was about to ask the same... just:

`==> default: [vagrant-hostsupdater] Writing the following entries to (/etc/hosts)`

Like when halting... is just a one-liner.

[2016-06-12 21:31] ikesaunders commented on #89
I'd just like to add that I experienced this issue and was able to narrow it down to Kaspersky Anti-Virus. Disabling the service completely and restarting restored correct functionality.

I'll update this post when I find out which specific service it was that was causing issues.

[2016-06-24 05:39] budhrg opened #113 "Any future roadmap to add any kind of tests?"
Hi,

I would like to know the repo doesn't have any kind of tests(at least unit tests).

Is it in future roadmap?

[2016-06-24 17:37] cgsmith commented on #113
Unit tests would be great! I welcome any PRs to do this :)

I can add some eventually but if you are more capable please give it a shot.

[2016-07-04 16:31] rauluranga opened #114 "Error: Text file busy"
i'm seeing the following error quite often, do know what it is??
i'm using **Vagrant 1.8.1**

[code]

[2016-07-06 16:58] tom-smalls opened #115 "vagrant-hostupdater failing to install"
I'm not sure if this is an error with the plugin, or vagrant itself.

The vagrant-hostupdater started failing to install for us last night (in the UK) with the following error:

This is on a Centos 7 machine. May be related to https://github.com/mitchellh/vagrant/issues/7549

[2016-07-06 17:01] tom-smalls commented on #115
I noticed that FFI had new versions released over the past few days (https://rubygems.org/gems/ffi), but not sure where it sits on the dependency graph.

[2016-07-07 10:52] tom-smalls commented on #115
This appears to have been a problem with FFI 1.19.2 (see https://github.com/ffi/ffi/issues/510), and a new version has been fixed to resolve the issue.

[2016-07-07 10:52] #115 closed

[2016-07-14 20:06] jjeaton commented on #92
This is still failing for me:

[code]

I get the same vagrant-hostsupdater/HostsUpdater.rb:85:in `initialize': Permission denied - /etc/hosts. Even if it could fail and be caught rather than killing the vagrant up, that would be a huge help.

[2016-07-14 20:08] Radau commented on #92
Yep, I don't believe a fix has been made available yet for the actual package. At this point I basically just [resort to chmod'ing /etc/hosts](https://github.com/cogitatio/vagrant-hostsupdater/issues/92#issuecomment-175888224) every once in a while (issue reappears maybe once a month). Still a bad solution but if you have work that needs to be done it's been working for me

[2016-07-14 20:10] cgsmith commented on #92
I'll be able to look into if the failure can be caught and just throw a warning but won't have time until later next week.  PRs are welcomed!

I'll also try duplicating this next week on my box.  Thanks for the info and suggestion @jjeaton

[2016-07-14 20:12] jjeaton commented on #92
Thanks @cgsmith!

FWIW, I am having the issue with latest [VVV](https://github.com/Varying-Vagrant-Vagrants/VVV), latest [Homestead](https://github.com/laravel/homestead) and latest [vip-quickstart](https://github.com/Automattic/vip-quickstart).

[2016-07-20 09:23] oniric85 commented on #40
Is there any more work to do for this one? I'm willing to help as this would be a really useful addition!

[2016-07-20 14:55] cgsmith commented on #40
Hi @oniric85 if you are willing you could pull down the code and test it out on your machine! That would be really useful! Feel free to document what it takes you to get the code running on the wiki or by writing some Markdown - thanks for offering to help!

[2016-07-20 15:29] QWp6t commented on #40
I submitted a PR to fix this almost a year ago. I've since moved on to `vagrant-hostmanager`, though.

[2016-07-20 16:10] cgsmith commented on #40
Thanks @QWp6t I'd like to have it tested on a Windows machine (I dont have one) and will gladly merge it in if some others can verify it is working.

[2016-07-21 14:32] bickerstoff commented on #92
FWIW I'm having the same issue on OSX, Homestead, Vagrant 1.8.5, and Virtualbox 5.1.0. I was able to get around it by executing:
`sudo chmod +a "user allow list,add_file,search,delete,add_subdirectory,delete_child,readattr,writeattr,readextattr,writeextattr,readsecurity,writesecurity,chown,file_inherit,directory_inherit" /etc/hosts`

Where user is my username locally.

[2016-07-25 15:54] #103 closed

[2016-07-27 06:03] openbayou opened #117 "Doesn't update using multi-profiles on one vagrant"
Hey,
I think I may have found a problem with hostupdater using a different profile on one Virtual PC. I have a vagrant setup using one virtual PC but I have different configurations to sync a different directory and different domain name. It works on vagrant file that I created but when I make another vagrant file to use the same Virtual PC, it doesn't update my hosts file.

Is this a known bug, d

[2016-07-27 14:53] cgsmith commented on #117
Can you provide a minimum `Vagrantfile` that I can test? Steps to replicate will be best as well.

[2016-08-01 03:12] openbayou commented on #117
I use an app called Hobo that manages my vagrant file. Here's everything I have:

[vagrant.zip](https://github.com/cogitatio/vagrant-hostsupdater/files/392878/vagrant.zip)

When I start up the second vagrant called dailybayou, it sets the domain items on /etc/hosts on my mac as openbayou.dev

172.28.128.3  openbayou.dev  # VAGRANT: 294b20867f343cbbb8409ff499f82d0c (defau$
172.28.128.3  www.openbay

[2016-08-01 03:14] openbayou commented on #117
Figured out the problem, it sets whatever was the last generated file as the vagrant file.

[2016-08-01 03:14] #117 closed

[2016-08-05 11:33] COLABORATI opened #118 "Feature Request: please make the actual hosts file configurable"
It would be great to have a way to configure the path of the actual hosts file that this plugin writes to.
For example it is much more comfortable (and works without sudo) to configure dnsmasq to read an additional file from a users directory which contains additional host definitions.
I am sure there are a few other ways to implement what /etc/hosts does without leaving user space, so it would be

[2016-08-05 12:50] cgsmith commented on #118
Pull requests welcomed! Thanks for the idea :+1:

[2016-09-02 09:32] naveenvalecha opened #120 "[Support Request] Add the hosts in the hosts file from vhosts configuration"

[2016-09-21 23:09] ronezone commented on #92
I just ran into this issue today on an Windows 10 installation I've had running for a couple months without any issues.  Perhaps my issue was caused by not properly using 'vagrant halt' before shutdown?  I can't be sure.  In any event I suspect something hosed the VirtualBox VM, and here is how I resolved the following error.  The output that followed the below error is almost exactly the same as

[2016-09-22 01:31] ronezone commented on #89
I just ran into this issue today on an Windows 10 installation I've had running for a couple months without any issues. Perhaps my issue was caused by not properly using 'vagrant halt' before shutdown? I can't be sure. In any event I suspect something hosed the VirtualBox VM, and here is how I resolved the following error. The output that followed the below error is almost exactly the same as @dbl

[2016-10-02 06:07] openbayou opened #123 "Doesn't update host /etc/hosts"
Hello,

I'm having problems with hostupdater updating the hosts file on my Mac. I'm on OS X 10.11.6 with current versions of Vagrant and VirtualBox. The host file on my Mac is owner: root and group: wheel and I've been told it's not a great idea to change the ownership of the hosts file.

This is what's in my Sudoers file:
`Cmnd_Alias VAGRANT_HOSTS_ADD = /bin/sh -c echo "*" >> /etc/hosts
Cmnd_Alia

[2016-10-05 22:27] eddy14u commented on #120
Or from a file stored in the root directory for the Vagrant setup

[2016-10-08 01:02] JoshMoreno commented on #120
+1

[2016-10-17 16:57] andreas83 opened #124 "undefined method `group_by' for nil:NilClass"
andreas@andreas-desktop:~/dev/work/$ vagrant plugin install vagrant-hostsupdater
Installing the 'vagrant-hostsupdater' plugin. This can take a few minutes...
/usr/lib/ruby/2.3.0/rubygems/specification.rb:946:in `all=': undefined method`group_by' for nil:NilClass (NoMethodError)
        from /usr/lib/ruby/vendor_ruby/vagrant/bundler.rb:275:in `with_isolated_gem'
        from /usr/lib/ruby/vendor_ru

[2016-10-27 15:01] gmisura opened #125 "No access to alias while on VPN"
This is not a bug, but a PSA
I installed and configured the plugin, but thought for sure there was a problem because I could not reach my alias, ping nor browser.
After discussing with my co-worker, we realized that the VPN (Cisco AnyConnect in this case) was blocking access to 192.168.x.x (laments IT). Disconnected and poof, everything works perfectly. Reconnect, boom, can't reach the private VM'

[2016-11-06 03:48] andersbc commented on #124
I had the same problem (on ubuntu 16.06).

In my case it was related to a known bug in vagrant **version 1.81** (which is what you currently get when you do `sudo apt-get install vagrant`)
...see http://stackoverflow.com/questions/36811863/cant-install-vagrant-plugins-in-ubuntu-16-04/36991648#36991648)

I solved it by removing vagrant and then installing it again via https://www.vagrantup.com/down

[2016-11-12 02:28] danepowell opened #127 "Command to automatically set up sudoers file"
Following up on #126, it would be nice to have a command such as `vagrant hostsupdater setup-sudo` that automatically sets up your sudoers file according to the new docs.

[2016-11-17 20:49] degrovejazz commented on #92
Ran into the same problem (OSX host). Ran vagrant up with sudo and worked. Also had to add sudo with vagrant ssh.

[2016-11-21 16:12] jpSimkins opened #128 "Should allow specification of Private or Public IPs"
I see this is adding aliases for both private and public IPs. This is redundant as it one will only be used (the first found). Should be an option to specify what is used on a per alias level.

[2016-11-30 02:11] tyler36 commented on #89
Have the same issue after updating Vagrant to 1.9 this morning.
Was working fine on 1.8,7.

Tried @ronezone suggestion but didn't work for me.

Vagrant 1.9
Virtualbox 5.1,8
vagrant-hostsupdater 1.0.2

[2016-12-03 00:33] brettmaxwellmorgan commented on #89
I've just encountered this issue while trying to setup a new VM with vagrant. Deleting the file at /users/<userdir>/.vagrant.d/tmp/hosts.temp (something like that, not the default hosts but the temporary copy of your hosts) seems to be doing the trick.

[2016-12-05 00:13] tyler36 commented on #89
Tried deleting temp files as suggested by @brettmaxwellmorgan ('c:\users\%username%\.vagrant.d\tmp') directory but no luck for me

[2017-01-03 00:46] simesy opened #129 "known_hosts cleanup"
Is it possible if, on `vagrant up` or `vagrant destroy`, this plugin could remove the applicable IP address from ~/.ssh/known_hosts file.

[2017-01-10 08:35] anttimakela commented on #50
System Version: OS X 10.11.6
NReilingh's solution fixed mine. Second day, not asking for password anymore on vagrant up or halt. Just in case, I rebooted mac after moving code to bottom.

[2017-01-21 23:45] cbirajdar commented on #129
@simesy I think it's a good idea to clean up known_hosts file upon vagrant halt or destroy. I have added some functionality [here](https://github.com/cbirajdar/vagrant-hostsupdater/commit/31c68b06a88184bba72d0a9144a9ada649af8d1d). The fix only works with *nix systems as there is no definitive path (at least I'm not sure) for ssh known_hosts file on windows!

[2017-01-22 00:03] cbirajdar commented on #97
Should be addressed by #130!

[2017-01-29 00:38] oranges13 opened #131 "Unable to install plugin on Windows"
I just installed Vagrant, but I'm unable to install this plugin

The error I receive is as follows:

[2017-01-31 19:50] cgsmith commented on #131
What version of Vagrant and what version of Windows are you trying?

[2017-02-03 20:48] mabho commented on #92
I am experiencing the same problem on my Windows machine. As with others in this thread, it used to work fine, but problems suddenly arose, probably due to a version update, I am not sure. My current Vagrant version is 1.8.6. I could overcome this issue by running my command line app as as Administrator (in my case, GIT Bash).

[2017-02-04 15:33] geoHeil opened #132 "static IP not set correctly"
When using `Vagrant 1.9.1` with the following file:
[code]

this is the output for ifconfig is:
[code]

as you can see: `inet 172.16.75.137` is not set to `192.168.3.10` what is wrong here?

[2017-02-15 01:15] cbirajdar commented on #132
@geoHeil That seems to be an issue with vagrant, not the hostsupdater plugin. Please see https://github.com/mitchellh/vagrant/issues/8115 for more details. Per comments, bug fix for this issue is slated for 1.9.2.

For now, try one of these:
- Downgrade to 1.9.0
- Add ```config.vm.provision "shell", inline: "sudo systemctl restart network.service"```

Hope that helps!

[2017-02-28 15:31] avdi opened #134 "Hosts file entries are commented out after some period of time (on windows)"
Title pretty much sums it up. At least on Windows, after ~15 minutes the entries that hostsupdater makes are commented out, and I have to manually un-comment them.

Is this behavior configurable somewhere? I wasn't able to find any documentation for it.

Thanks!

[2017-02-28 15:34] avdi commented on #134
Answering my own issue: turns out this has nothing to do with hostsupdater. It comes from the security suite I'm using, Bitdefender. See: http://superuser.com/questions/1018133/windows-10-hosts-file-entries-been-commented-out

[2017-02-28 15:34] #134 closed

[2017-03-06 13:23] craiglondon commented on #92
@mabho Check to see if the hosts.local file is `read-only`, once I removed the `read-only` attribute from that file, I was able to get past this error.

[2017-03-23 09:12] J7mbo commented on #56
This has been open since 2015. Does host manager work better still?

[2017-03-23 13:05] dincho commented on #56
Nope.

[2017-03-27 15:35] dennis1088 commented on #131
Got the same error as described above. Below are my versions.
macOS Sierra
VirtualBox 5.1.18
Vagrant 1.9.3
ruby 2.3.1p112
gem 2.5.1
bundler 1.13.3

[2017-03-27 15:51] dennis1088 commented on #131
My issue was a spelling mistake i was trying to do `vagrant plugin install vagrant-hostupdater`instead of `vagrant plugin install vagrant-hostsupdater`

[2017-03-27 16:59] oranges13 commented on #131
Unfortunately misspelling was not my issue. You can see in the initial error message:

So it was spelled correctly.

[2017-03-29 13:56] daviddahl commented on #131
I am unable to install it as well, on ubuntu 16.04, virtualbox 5.1.18, vagrant 1.9.3, ruby 2.3.1p112, gem 2.5.1, bundler 1.11.2

[2017-05-18 19:31] surrealchemist commented on #92
I was discussing this with a co-worker, and running this on OS X and he was wondering if it could just be designed to prompt for a password somehow. If that is even possible, it might be preferred to modifying permissions on the hosts file.

[2017-05-25 10:18] ar000n commented on #28
seems its because of environment variable issue.

[2017-05-25 12:29] ryanpcmcquen commented on #28
@ar000n the issue has been fixed since November 2015, why are you commenting on it?

[2017-06-06 15:42] rcafelipegomes commented on #131
Estou tento o mesmo problema, e ainda não encontrei solução

[2017-06-06 19:57] maykbrito commented on #131
My issue was a spelling mistake too

[2017-06-08 12:59] ezekiel-lemur opened #135 "install on Arch-Linux segmantation fault"
On my pastebin: https://paste.zkl.dk/ayerugebov.hs
---------
`➜  ~ vagrant plugin install vagrant-hostsupdater
Installing the 'vagrant-hostsupdater' plugin. This can take a few minutes...
/opt/vagrant/embedded/lib/ruby/2.2.0/rubygems/source.rb:192: [BUG] Segmentation fault at 0x00000000000010
ruby 2.2.5p319 (2016-04-26 revision 54774) [x86_64-linux]

-- Control frame information ------------------

[2017-06-13 02:44] cgsmith commented on #135
Thank you for reporting this - It seems like it is a ruby issue.

Did you find the solution to the issue?

[2017-06-16 09:01] ezekiel-mongoose commented on #135
no not yet 😢

[2017-06-20 13:24] fbourigault commented on #135
You can install the old `vagrant-substrate` package. See https://github.com/mitchellh/vagrant-installers/issues/106#issuecomment-309733395.

[2017-06-28 20:16] johnkeates commented on #92
This happens when you set an ACL on /etc/hosts. Some apps (like Gas Mask) do this.

Check with `ls -le /etc/hosts` and delete the ACL with `sudo chmod -R -N /etc/hosts`

By default it has no ACL and is root:wheel owned with permissions rw/r/r

[2017-06-28 20:24] metaColin commented on #92
I did not experience this issue prior to installing Gas Mask. @johnkeates good catch.

[2017-06-28 20:25] johnkeates commented on #92
There are other apps and plugins that seem to mess with file ACL's, so even for those that didn't use Gas Mask, check your ACL's as they override permissions. :)

[2017-06-28 20:47] surrealchemist commented on #92
Had this ACL on mine:
`0: user:jkleiner allow write`
Removing it, then loaded up Gas Mask. Once I edited a file I got prompted for password and the ACL was back. So that explains that. Would like to have them play nice together but not sure of the right way to go.

[2017-06-28 21:02] johnkeates commented on #92
I suppose the only way is to not use Gas Mask until it is fixed. It doesn't seem to be explicitly set by Gas Mask itself (searching for ACL in the sources didn't yield any results), but it's possible that some sort of specific 'save this file as an admin' call to a Cocoa method sets the ACL automatically.

[2017-07-03 21:07] byanke-pcn opened #136 "Is a passwordless sudo possible?"
I'm running on Ubuntu 16.04.2 LTS. Is there any commands I can add to /etc/sudoers or other tricks to allow vagrant to update the hosts file without a sudo pw?

[2017-07-06 14:59] byanke-pcn commented on #136
I'm an idiot :

https://github.com/cogitatio/vagrant-hostsupdater#passwordless-sudo

[2017-07-06 14:59] #136 closed

[2017-07-06 15:11] byanke-pcn commented on #127
I would also appreciate this - any updates on it? It would make it easier for devs who aren't quite as shell-inclined to quickly and easily set up.

[2017-07-10 14:31] cgsmith commented on #127
This is a great idea and I lost track of it. I will give this a try shortly and see if I can get something into a release candidate.

[2017-07-10 14:32] #135 closed

[2017-07-10 14:32] #132 closed

[2017-07-10 14:32] cgsmith commented on #132
Thanks for helping with this @cbirajdar 👍

[2017-07-10 14:34] cgsmith commented on #131
I will try this on Ubuntu 16.04 with what @daviddahl has mentioned. I will need someone else to try @dennis1088 setup if possible. I do not have an Apple

[2017-07-11 08:32] stingus opened #137 "Conflicting dependencies winrm-fs"
Hi,
When running `vagrant plugin install vagrant-hostsupdater` I got the following error:

conflicting dependencies winrm-fs (= 1.0.1) and winrm-fs (= 0.3.2)
  Activated winrm-fs-0.3.2
  which does not match conflicting dependency (= 1.0.1)

  Conflicting dependency chains:
    winrm-fs (= 0.3.2), 0.3.2 activated

  versus:
    winrm-fs (= 1.0.1)

  Gems matching winrm-fs (= 1.0.1):
    winrm-fs-1

[2017-07-11 08:44] stingus commented on #137
Fixed, it was due to an old Vagrant install, improperly uninstalled. I ran the uninstall tool from Vagrant, reinstall it and the plugin now works.

[2017-07-11 08:44] #137 closed

[2017-07-13 08:15] markus-altran opened #138 "Remove empty lines at end of file in removeFromHosts() method"
Adding entries to hosts file adds an extra line break before the entries. When these are removed, the extra line remains. It would be nice if removeFromHosts() could strip empty lines at end on file, to prevent the whole thing to keep adding extra empty lines.

I do not know much of ruby, but it seems the change would be trivial. In file **HostsUpdater.rb**, apply this:

[code]
Thank you!

[2017-07-13 13:28] cgsmith commented on #138
Thanks @markus-altran - I'll get a release put together shortly.

[2017-07-13 16:00] #124 closed

[2017-07-13 16:03] cgsmith commented on #120
@naveenvalecha or @eddy14u Can you provide an overview of how you'd see this working?

[2017-07-13 16:05] cgsmith commented on #118
I will have this added to the next release @COLABORATI

[2017-07-13 16:06] cgsmith commented on #114
@rauluranga I think this is a vagrant issue - feel free to reopen if you continue to have troubles.

[2017-07-13 16:06] #114 closed

[2017-07-13 16:06] cgsmith commented on #125
Thanks for the heads up @gmisura

[2017-07-13 16:06] #125 closed

[2017-07-13 16:07] cgsmith commented on #113
Feel free to add unit tests - going to close this issue as it is not on the roadmap at this point.

[2017-07-13 16:07] #113 closed

[2017-07-13 16:08] cgsmith commented on #112
Thanks for the update @Lewiscowles1986

[2017-07-13 16:08] #112 closed

[2017-07-13 16:11] cgsmith commented on #102
Thanks for the report @loganfreeman I'll get this fixed in the next release.

[2017-07-13 16:12] cgsmith commented on #104
@Enchiridion I'll get this added in the next release.

[2017-07-13 16:15] cgsmith commented on #110
@SautdeChat this will be fixed in an upcoming release. It may have been addressed by a prior bug report - ill verify

[2017-07-13 16:16] cgsmith commented on #101
@tkellen I think I am going to add this as a flag you can set in the `VagrantFile` - This way the process won't stall out waiting for a user prompt.

[2017-07-13 16:17] cgsmith commented on #101
By that I mean something like:

`add-missing-entries: true`

[2017-07-13 16:19] cgsmith commented on #100
Thanks @richard-scott

This was fixed in master here 7ee3be1 and will be released in 1.0.3

[2017-07-13 16:23] #61 closed

[2017-07-13 16:25] cgsmith commented on #18
Not going to implement this in the plugin at this time. It might be a good idea to put this into the documentation if the issue pops up on this project.

[2017-07-13 16:25] #18 closed

[2017-07-13 16:27] #50 closed

[2017-07-19 17:14] cgsmith commented on #56
Still looking for PRs or attempts at this! I haven't had time yet but feel it would be a great addition to the project.

[2017-07-21 13:47] braampje opened #140 "permission denied changing hostname"
When I try to give the virtual machine a hostname my vagrant crashes, saying permission denied. I had to  manually change the permissions of C:\Windows\System32\drivers\etc\hosts to writable before it worked. I did it for all group and user names since I was not sure which one I needed. Do you have an easier way of doing this? thought you should at least now this.

[2017-07-21 17:15] Leland commented on #92
Ugh, yeah - Gas Mask as well. Be sure to drop a thumbs-up on @johnkeates issue over yonder: https://github.com/2ndalpha/gasmask/issues/129

[2017-08-03 06:24] Graloth commented on #140
You only need to do that for the used you are trying to run vagrant under.
As far as I've been able to find out, this is the only solution to the issue.

This is potentially a dublicate of https://github.com/cogitatio/vagrant-hostsupdater/issues/89

[2017-08-10 21:52] Kellman3000 opened #141 "Hosts entries appended incorrectly to hosts file on Mac"
Using 1.0.2 on a Mac, I found that if there is no blank line at the end of the hosts file, the plugin simply appends to the last line, rather than adding a new line.  If there is a blank line already there, it appends to the blank line.  MacOS 10.12.6

[2017-08-11 13:05] richard-scott commented on #100
Thanks :-)

[2017-08-11 13:05] #100 closed

[2017-08-23 10:35] zavham commented on #89
j

[2017-08-23 10:37] zavham commented on #89
copy this to windows/system32/drivers/etc/hosts file and will work 100%
192.168.33.10  scotchbox  # VAGRANT: edbe6862c897161f0d259bff7f9ec15d (default) / 5244e62f-a3b6-4c02-8e85-91779ff41e8a
192.168.33.10  wpdistillery.dev  # VAGRANT: 145a9dbfb3d9480a6d62121b4713ac68 (default) / 4f69a679-a181-479a-8002-7850ce86433f

[2017-08-24 00:00] DougBeney opened #142 "conflicting dependencies ruby_dep (= 1.5.0) and ruby_dep (= 1.3.1)"
Hello,
For a while, I used your Vagrant plugin on my Mac and it was excellent. Now, I moved to Solus Linux and I'm having some trouble unfortunately.

Here's what happens when I run `sudo vagrant plugin install vagrant-hostsupdater`.

[code]

My versions:

[code]

[2017-08-24 02:01] DougBeney commented on #142
I tried running uninstalling Vagrant and then running the following commands, but it didn't help.

[code]

[2017-08-24 02:09] DougBeney commented on #142
Closing my issue because I found out this is a problem with the command `vagrant plugin update`

[2017-08-24 02:09] #142 closed

[2017-08-24 02:18] DougBeney commented on #142
Found the fix! In case anyone else comes across this, here's the command I ran that fixed it:

`VAGRANT_DISABLE_STRICT_DEPENDENCY_ENFORCEMENT=1 vagrant plugin install vagrant-hostsupdater`

[2017-09-01 10:36] EzechukwuJI commented on #131
Anyone found a way around this yet? Mine wasn't a spelling error.
This first line worked as expected
`vagrant plugin install vagrant-hostsupdater` but this `vagrant plugin install vagrant-hostupdater` didn't.

[2017-09-01 22:01] benyanke opened #143 "Hostnames don't change on Provision"
Given the following workflow, the hostnames are not correctly updated.

* `vagrant up` with hostnames: 1.1.1.1 -> olddomain.com
* Edit vagrantfile to specify 1.1.1.1 -> newdomain.com
* `vagrant destroy -f ; vagrant up`

In this circumstance, the plugin simply reports "found entry" instead of correctly deleting and replacing, leaving the `olddomain.com` in the hosts file, and not applying `newdomai

[2017-10-19 17:48] Riadlx commented on #131
Hi Am trying to install vagrant hostsupdater plugin but I get this error:
$ bash install_stack.sh fullstack
Capturing output to logs/install-20171019-184043.log
Installation started at 2017-10-19 18:40:43
Installing release 'open-release/ginkgo.1'
######################################################################## 100.0%
Installing the 'vagrant-hostsupdater' plugin. This can take a few minute

[2017-12-08 18:18] andypattenden opened #145 "Sudoers file not working on MacOS"
The snippet for the sudoers file on the README is not working on MacOS for adding hosts. I'm currently on 10.13.2

Changing the add line from:
[code]
to:
[code]
resolves the issue.

I would raise a PR with the fix but I'm not able to verify that removing the single-quotes doesn't break other OSs

[2018-01-12 19:26] danepowell commented on #145
Thanks for finding this, see #146

[2018-01-24 19:55] BenjaminLaprise opened #147 "Installation fails on fedora with 'conflicting dependencies nokogiri (= 1.6.3.1) and nokogiri (= 1.8.1)'"
Ho there, I'm trying to install `vagrant-hostsupdater` on Fedora 27 and it fails with the following error message:

[code]

[code]

[code]

[code]

[code]

[code]

says I don't have any installed

[code]

I tried running this:

[code]

succeded, but plugin installation still failed.

[2018-01-24 19:57] BenjaminLaprise commented on #147
I realized I had the gem installed by the system with dnf. Uninstalling the package and then running the plugin install command again did solve the issue:

[code]

[code]

:tada:

[2018-01-24 19:57] #147 closed

[2018-02-11 13:48] xzykho commented on #131
Same problem as with @dennis1088, so glad I found this. I have been tearing my hair for that missing 's' in hosts.

[2018-02-15 11:55] GhaziTriki commented on #131
Fixed by doing this https://stackoverflow.com/questions/26141589/gem-install-error-sass-compass/26244869#26244869

[2018-03-04 21:09] IrealiTY opened #148 "conflicting dependencies net-ssh"
When using the
`$ vagrant plugin install vagrant-hostsupdater`
to install the plugin the following error pops up:
[code]

[2018-03-19 13:00] #145 closed

[2018-03-21 19:33] kallookoo opened #150 "Does not remove aliases that are not defined"
If the option to remove_suspend the plugin is set to false, it does not delete the old entries in the file when change the aliases.

[2018-03-21 23:25] cgsmith commented on #150
Hi @kallookoo - did you try removing `config.hostsupdater.remove_on_suspend = false` ?

See [this part of the readme](https://github.com/cogitatio/vagrant-hostsupdater#keeping-host-entries-after-suspendhalt)

[2018-03-27 03:50] kentr opened #151 "Add method gets the instance public IP when provider is AWS"
What's keeping #74 from getting into the stable branch or a release?

Thanks.

[2018-03-27 13:42] cgsmith commented on #151
Hi @kentr just been a little busy (👶 🍼 )

I'll work on this today during my lunch break.

[2018-03-27 14:58] #40 closed

[2018-03-27 15:11] cgsmith commented on #151
@kentr would you mind testing the [release](https://github.com/cogitatio/vagrant-hostsupdater/releases/tag/1.1.0) for me before I send it to RubyGems?

[2018-03-28 16:04] tjaartvdwalt opened #153 "Syntax error in 1.10 pre release"
Hi,

I tried the `1.1.0 pre-release`, but I run into some problems

I am running `ruby 2.5.0` and `vagrant 2.0.3` on Arch Linux.

Here is what I did:

`wget https://github.com/cogitatio/vagrant-hostsupdater/releases/download/1.1.0/vagrant-hostsupdater-1.1.0.gem`
`vagrant plugin install vagrant-hostsupdater-1.1.0.gem`
`vagrant up`

I get the following output:

[code]

[2018-03-28 16:38] cgsmith commented on #153
@tjaartvdwalt thanks for testing this. I will check it out and release an patch shortly. Would you be available to test it locally again for me?

[2018-03-28 16:53] cgsmith commented on #153
I updated the [release](https://github.com/cogitatio/vagrant-hostsupdater/releases/tag/1.1.0) with a fix. Thank you again for testing and reporting! I'm going to close this issue, if anything else pops up just open a new issue.

[2018-03-28 16:53] #153 closed

[2018-03-30 16:55] cgsmith commented on #91
This is taken care of by default with the latest release with this PR https://github.com/cogitatio/vagrant-hostsupdater/pull/23

[2018-03-30 16:55] #91 closed

[2018-03-30 16:55] cgsmith commented on #151
Part of version 1.1.0

[2018-03-30 16:55] #151 closed

[2018-03-30 16:56] cgsmith commented on #148
@IrealiTY try with the latest release and see if it causes an issue still.

[2018-03-30 16:57] cgsmith commented on #143
@benyanke thanks for the bug report - I will test it out locally and come up with a fix. PRs welcome!

[2018-03-30 16:57] cgsmith commented on #141
@Kellman3000 Can you test with version 1.1.0? If it is still an issue I will find out how to fix it.

[2018-03-30 16:59] cgsmith commented on #140
The documentation talks about using UAC here: https://github.com/cogitatio/vagrant-hostsupdater#windows-uac-prompt

This should get around the issue.

[2018-03-30 16:59] #140 closed

[2018-03-30 17:00] cgsmith commented on #131
Thanks @GhaziTriki

[2018-03-30 17:00] #131 closed

[2018-03-30 17:00] #129 closed

[2018-03-30 17:00] #127 closed

[2018-03-30 17:01] cgsmith commented on #123
@openbayou try the newest version and if it doesn't work I can reopen the issue.

[2018-03-30 17:01] #123 closed

[2018-03-30 17:03] #106 closed

[2018-03-30 17:03] cgsmith commented on #51
Done as of 1.1.0

[2018-03-30 17:03] #51 closed

[2018-03-30 17:04] cgsmith commented on #52
@mtbvang this is merged and added as of version 1.1.0

[2018-03-30 17:04] #52 closed

[2018-03-30 17:07] chrispage1 opened #155 "Undefined method `addHostsEntries` @ 1.1.0"
Hi,

I normally use the hostsupdater plugin and love it so thanks! I've literally just installed the plugin on my home machine and it installed the very newly released 1.1.0 version.

However, this is the log I am getting when trying to up a new machine -

[code]

You get the idea... manually installing the previous version (1.0.2) fixed this for me.

Thanks!

[2018-03-30 17:08] cgsmith commented on #155
@chrispage1 looking into this now. Thanks for reporting!

[2018-03-30 17:45] cgsmith commented on #155
Looks like it is due to the AWS feature - fixing it now.

[2018-03-30 20:04] kentr commented on #151
Great, thx!

I’ve been meaning to reply that I couldn’t test it until next week or so.

[2018-03-30 22:16] cgsmith commented on #155
Fixed in version 1.1.1 Thanks for reporting @chrispage1

[2018-03-30 22:16] #155 closed

[2018-03-30 22:40] cgsmith commented on #58
This has been merged in and is part of the release.

[2018-03-30 22:40] #58 closed

[2018-03-30 22:40] #63 closed

[2018-03-30 22:49] cgsmith commented on #89
Should be fixed with the UAC escalation. Let me know if there are issues.

[2018-03-30 22:49] #89 closed

[2018-03-30 23:14] #92 closed

[2018-03-30 23:16] #97 closed

[2018-03-30 23:36] Jojo-Jojovich opened #156 "Creates duplicate entries in hosts file and throws an error when trying to remove entries from known_hosts file"
When starting up the Vagrant machine, it creates multiple duplicate entries in the hosts file. Also, when halting the Vagrant machine, sed throws an error regarding invalid character range.

[2018-03-31 00:05] cgsmith commented on #156
Merged - I'll draft a release shortly. Thanks @Jojo-Jojovich

[2018-03-31 00:09] Jojo-Jojovich commented on #156
Awesome, thanks!

[2018-04-02 01:02] tyler36 opened #158 "Excessive terminal output?"
Updated to v1.1.1 this morning and my console repeat the following 297 times
[code]

Downgraded to v1.0.2 and it displayed once again (as expected)

OS: Win10
Vagrant: 2.0.3
vagrant-hostsupdater: 1.0.2

[2018-04-02 01:25] cgsmith commented on #158
That is very excessive. I'll get a fix in the works.

[2018-04-02 01:27] tyler36 commented on #158
I have 5 machines in my YAML too. The first time I booted up, it was that x5. I thought it might be a mulple machine issues but when I changed it to only 1, it was still an issue.

[2018-04-02 08:38] kallookoo opened #159 "Error gem file version 1.1.1"
Hi,
The version 1.1.1 not include the modifications of the HostsUpdater.rb file, please check the tag, thanks

[2018-04-02 09:04] kallookoo commented on #150
Hi @cgsmith
I say that it does not check when vagrant starts if in the hosts file there are domains that do not exist inside the aliases option, but it does add the new domains if not exists, when remove_on_suspend = false.

Example:
1.- vagrant up with 5 aliases 'a,b,c,d,e'
2.- vagrant halt
3.- remove 'e' and add 'f' in aliases option
4.- vagrant up, this plugin add new domain 'f' but not remove

[2018-04-04 00:41] tomjn opened #160 "V1.1 and Windows 10 issues"
Hey! I help run the VVV project, which relies on this project to wrangle the hosts file.

Unfortunately, recent updates to this project have broken things for Windows users of VVV

See https://github.com/Varying-Vagrant-Vagrants/VVV/issues/1458

Downgrading appears to fix the issue, though new users are popping up

Of note, @AlexandroPerez, @exlame, and @benlumia007 have encountered this today

[2018-04-04 00:44] tomjn commented on #160
As an aside, when this happens I have no prompts for debugging information to acquire that I can feed back to this project, any pointers?

[2018-04-04 01:34] benlumia007 commented on #160
i would like to point out, that developers should test before they deploy a fix or an update just to avoid this problem in the future.  i just spent like couple of hours resetting windows 10 for no reason and at the end finding out that the hostsupdater update is the problem.

[2018-04-04 02:06] cgsmith commented on #160
Thanks for alerting me to the issue @tomjn - I am not aware of any debugging options currently but I will fire up a Windows 10 instance and see what is happening. I did push a gem so users that run `vagrant plugin install` will receive the `1.1.1.160` version which is just a retagged `1.0.2` version.  I also yanked 1.1.1 and 1.1.0 from RubyGems.org - although the mirrors may not yank them immediat

[2018-04-04 04:30] AlexandroPerez commented on #160
@cgsmith This may also be a problem with Windows 10 braking things up as always... So for reference:

Windows 10 Version `1709 (OS Build 16299-309)`

Windows 10 forced an update on me recently, so maybe things were perfectly fine before that.

[2018-04-04 05:33] benlumia007 commented on #160
I highly doubt that it was a Windows 10, either if it breaks or not. I have been with the Windows Insider Program testing Windows 10 since first release and I have using vvv since 1.1 sometimes Windows 10 may cause issues, but this time is not a WIndows 10 issue, its just mostly something else.

[2018-04-04 05:35] benlumia007 commented on #160
I also have been using Mac and Linux and Windows and sometimes the output are slightly different, but I think we should think the vvv consists of a lot of different components to make it work. but yeah.

[2018-04-04 10:28] tomjn commented on #160
I checked my local and I'm on 1.1.1 on Mac OS with no issues, so it's
likely a windows only issue
On Wed, 4 Apr 2018 at 06:35, Benjamin Lu <notifications@github.com> wrote:

[2018-04-04 14:25] benlumia007 commented on #160
just tested the 1.1.1.160 and since its a retag of 1.0.2 cool. but i did test on Mac OS and yes it does not have any issues with 1.1.1 if you need me to testing i'll be happy to do so. since i do have like 10 computers :)

[2018-04-05 08:57] kallookoo commented on #159
fixed in version 1.1.1.160

[2018-04-05 08:57] #159 closed

[2018-04-18 14:19] gdepaepe opened #161 "Uninitialized constant VagrantPlugins::Aws"
I am running vagrant 2.0.3 on Ubuntu 16.04. I installed vagrant-hostsupdater v1.1.1 using "git clone" (when I use "vagrant plugin install ", I get v1.0.2)

I get the following error:

HostsUpdater.rb:225:in `getAwsPublicIp': uninitialized constant VagrantPlugins::Aws (NameError)

when I comment out line 225 in the rb file, everything works fine.

Vagrantfile:

config.vm.define "aws", autostart: fa

[2018-05-21 05:03] gobnat opened #164 "Plugin install failing with dependency error"
On both Vagrant 2.0.4 and 2.1.1 the following error occurs when trying to install this plugin.
OS: Ubuntu 16.04

Other pugins appear to be installing correctly.

[code]

[2018-06-05 17:51] kgillis-atmosol commented on #141
I'm seeing this issue with 1.1.1.160 on Mac High Sierra.

[2018-06-25 15:54] sryanb commented on #164
Currently experiencing the same issue on OSX 10.13.5, with vagrant 2.1.1. Currently troubleshooting, will report back here with any findings.

[2018-06-25 15:59] sryanb commented on #164
Ok i was able to get past this. I ended up running `vagrant plugin update vagrant-hostupdater` instead of `vagrant plugin install ...` and it updated successfully and unblocked me.

[2018-06-26 06:07] gobnat commented on #164
This solution does not appear to fix the issue for me. The problem persists with the same error message.

[2018-06-27 20:21] ian-rose commented on #141
I'm also seeing this issue with 1.1.1.160 on Mac High Sierra (10.13.5)

[2018-06-27 20:40] danepowell commented on #141
Also seeing this with 1.1.1.160 on Mac High Sierra.

[2018-06-28 00:24] #161 closed, assigned to nobody

[2018-06-28 00:28] cgsmith commented on #141
I would think it wouldn't be an issue unless there needs to be a `\r\n`?  See this part of the code for the plugin:

https://github.com/cogitatio/vagrant-hostsupdater/blob/master/lib/vagrant-hostsupdater/HostsUpdater.rb#L156-L161

[2018-06-28 22:47] danepowell commented on #141
I think I've figured out why this is happening. That code you linked to is never actually invoked on most systems, because the hosts file is owned by root and not writeable.

FYI, this is easily reproducible on a standard Linux/Mac OS by saving your hosts file without a new line at the end, and then running vagrant up with hostsupdater enabled.

I haven't quite figured out how to solve this. The p

[2018-06-28 23:18] danepowell commented on #141
I've opened a PR to fix this.

Note that this may actually be a dangerous bug. When vagrant hostsupdater appends to a hosts file without a newline, its output gets concatenated with the last line of the host file. Then when hostsupdater removes its lines, it would probably remove what used to be the last line of the file. That's a pretty destructive maneuver :fearful:

[2018-06-29 15:47] cgsmith commented on #141
I'll take a look at #165 within the upcoming week. `hostsupdater` looks for the GUID to remove the line. So it will not matter where the line is in the hosts file - it does not remove the last line.

[2018-06-29 21:10] danepowell commented on #141
@cgsmith actually I just confirmed via a test that Vagrant Hostsupdater _will_ destructively modify your hosts file if it does not contain a trailing newline.

Easy to test, just add a line to the end of your hosts file that you don't care about and save it without a newline:
`127.0.0.1 foobar`

Now run `vagrant up` on something, and examine the hosts file with `cat -A /etc/hosts`:
`127.0.0.1 foob

[2018-06-29 21:35] cgsmith commented on #141
I see what you mean. Thanks for the clarification

[2018-07-01 03:35] tsyrya commented on #164
Same for me. Has anybody fixed this problem?

[2018-07-05 13:55] ddcruver opened #166 "vagrant-hostupdater will use wrong IP address when using HyperV provider"
When initializing a VM it seems to use the wrong IP.

Bringing machine 'maven' up with 'hyperv' provider...
==> maven: Verifying Hyper-V is enabled...
==> maven: Verifying Hyper-V is accessible...
==> maven: Importing a Hyper-V instance
    maven: Creating and registering the VM...
    maven: Successfully imported VM
    maven: Please choose a switch to attach to your Hyper-V instance.
    maven:

[2018-07-05 16:44] cgsmith commented on #166
I will need to see your vagrant file to assist.

[2018-07-16 16:02] moosecodes opened #167 "hosts file not being written to"
Installed Vagrant Version: 2.1.1

When I run ```vagrant up```, I see the plugin reporting that it is writing to the /etc/hosts file (like it always does).  However, I cannot access any of my sites because the hosts file was not actually updated.  This problem started occurring recently after I updated vagrant from an older version.  Is there any way to fix this?  I tried using ```vagrant plugin up

[2018-08-05 17:25] kennyr87 commented on #164
Had this problem with Vagrant 2.1 on openSUSE Tumbleweed. The fix was to uninstall distro's Vagrant rpm and download and install for latest rpm from Vagrant.org.

Steps to Fix:

(1) uninstall vagrant
(2) remove ~/.vagrant.d (from user and root)
(3) download and install vagrant from Vagrant.org

[2018-08-20 20:16] ddcruver commented on #166
I believe my problem is because HyperV does not support non-public networks, i.e. I could only get External HyperV switches to work. Internal and the Default Switch did not work at all.

[2018-08-20 20:16] #166 closed

[2018-09-01 02:56] emgk commented on #102
Is it fixed ? or any alternative way to get rid out of it ? @cgsmith

[2018-09-01 13:56] cgsmith commented on #102
hi @emgk - i do not have a fix for this yet. PRs welcome.

[2018-09-04 04:25] harsxv opened #168 "vagrant-hostsupdater is missing"
Hello, last night my vagrant machine in Digitalocean running well.
But, this morning when I try to `vagrant-ssh`, I got error messages:

I try to reinstall this plugins, but still have the same error.

I try to update this plugins, still have the same error.

I sure that I never changed my Vagrantfile config or etc in directory this morning. Just update my Manjaro Linux with pamac.

Looking forwar

[2018-09-04 08:58] harsxv commented on #168
Downgrading to `2.1.0` and problem fixed.

[2018-09-07 14:18] Jeanvanberlo commented on #168
This plugin doesn't work since vagrant 2.1.3

[2018-09-11 17:16] tbjornli opened #169 "vagrant-libvirt conflict"
On a clean install of Ubuntu 18.04 and Vagrant 2.0.2 installed from repository.

I get this error message when trying to install the plugin
[code]
Uninstalling `vagrant-libvirt` (which comes along when vagrant) and then installing `vagrant-hostupdater` works fine. It's also no problem installing the `vagrant-libvirt` package again afterwards.

[2018-09-17 13:25] #168 closed, assigned to nobody

[2018-10-02 12:31] erikjoling commented on #169
How did you uninstall vagrant-libvirt?
[code]

[2018-10-02 13:14] erikjoling commented on #169
Updating Vagrant to a newer versions solved my problem.

Here's a related ticket for the vagrant-hostsmanager plugin:
https://github.com/devopsgroup-io/vagrant-hostmanager/issues/256#issuecomment-386260691

[2018-10-02 16:46] tbjornli commented on #169
I uninstalled it with **apt** (apt-get remove vagrant-libvirt)

[2018-10-02 16:49] tbjornli commented on #169
Thanks for the information. I'm using the 2.0.2 available from the repository. I'm guessing this will be solved as soon as 2.0.3 is available through the repo.

[2018-10-05 09:11] kamazee opened #170 "`gem` installs an outdated version"
Gem with spec version 1.1.1.160 actually contains version 1.0.2 of the plugin.
Here's how to see the difference:

[code]

The snippet above produces 2 directories:
[code]

[diff.txt](https://github.com/cogitatio/vagrant-hostsupdater/files/2449693/diff.txt) is a difference between the two.

I expected that 1.1.1 from rubygems would match 1.1.1 from github. Could you update the gem on ruygems?

[2018-10-08 12:49] cgsmith commented on #170
1.1.1.160 is the correct version

[2018-10-08 12:55] kamazee commented on #170
@cgsmith it is; the thing is that what rubygems.org distributes as 1.1.1.160 appears to be 1.0.2.
Please check the diff above between 1.1.1 from github and 1.1.1.160 from rubygems. Is that expected?

[2018-10-08 12:55] cgsmith commented on #170
That is strange.... It shows 1.1.1.160 on the rubygems interface

[2018-10-08 13:07] kamazee commented on #170
Indeed: looks like something went wrong when building the gem that was pushed to rubygems.org. Version in gemspec is correct but actual content is outdated. Gem in releases on github is correct, though, and it would be cool if someone with permissions replaced one that is on rubygems.org with one from github.

[2018-10-10 09:42] kamazee commented on #170
@cgsmith sorry to disturb you again but could you push gem that is published on releases page of github to rubygems.org so they are the same? It's a pity that vagrant (that uses rubygems.org) installs an outdated version: we wanted to use new structure of aliases in our team but we failed because even though rubygems thinks in distributes 1.1.1.160 but actually installs 1.0.2, and things like the

[2018-10-18 09:06] benbor commented on #170
Hi guys. The problem reproduces on my env:
[code]

[2018-11-01 11:56] stefangweichinger opened #171 "Fedora 29: various conflicts"
[code]

how to get rid of that?

I tried removing/uninstalling all plugins and/or vagrant itself, how to proceed here?

[2018-11-02 16:20] kamazee commented on #170
@cogitatio @cgsmith could you please re-publish the latest release to rubygems (or cut a new one) to make it distribute the correct version of the plugin? I'd be really grateful; just using `vagrant plugin` is way more convenient than installing it manually and instructing people around to do so :)

Thanks for maintaining this great plugin!

[2018-11-15 15:20] kamazee commented on #170
@cgsmith I've just stumbled upon https://github.com/cogitatio/vagrant-hostsupdater/issues/160#issuecomment-378456755 which revealed that 1.1.1.160 was an *intentional* retag of 1.0.2 to get rid of 1.1.1 that hadn't worked on Windows. I thought is was just a mistake. Sorry for the noise, then. I guess the only option to have 1.1.1 back is to fix Windows 10 issue; I'll see if I can do something with

[2018-12-17 10:21] brunowego opened #174 "Issue with administrator privileges"
Following the references about "how by pass admin access to hosts", I created the follow instructions:

[code]
Even so, I continue getting the issue with password:
[code]
Perhaps is because I am using OS X Mojave and this approach is different for this OS?

[2018-12-22 14:19] kamazee commented on #174
@brunowego `%admin` stands for "admin" group so passwordless sudo for running a command that replaces hosts file is only available to "admin" group members. Is your user a member of "admin" group? Run `groups` in terminal to see list of groups you're a member of. If "admin" is not there, either add yourself to "admin" group or use your username instead of `%admin` in sudo configuration (without an

[2018-12-22 19:59] brunowego commented on #174
Thanks @kamazee :)

[2018-12-22 19:59] #174 closed

[2019-01-03 00:31] Enchiridion commented on #170
@kamazee  This probably explains why I can't get the example for setting up multiple adapters with separate IPs working:

[code]

I keep getting this error `/.vagrant.d/gems/2.4.4/gems/vagrant-hostsupdater-1.1.1.160/lib/vagrant-hostsupdater/HostsUpdater.rb:22:in 'concat': no implicit conversion of Hash into Array (TypeError)`. I think I saw somewhere this support was added in 1.1.1.

[2019-01-03 16:48] kamazee commented on #170
@Enchiridion yes, right. I created this issue after debugging the very same symptom you're experiencing.
At the end of the day, I built a custom version (based on 1.1.1 with changes from #173 ), published it into a corporate gems repository and pointed vagrant to the custom private repository I pushed the plugin into.

I hope to get rid of the custom version one day, though.

[2019-01-03 18:12] cgsmith commented on #170
I have repo access to write to the repo but would like to open this plugin up to be able to be managed by more in the community. Unfortunately @cogitatio is not responding to those requests.

I am thinking of creating a plugin and deprecating this plugin's URL and would like your feed back on this.

I don't want anyone to have custom versions and as many issues as have been popping up - that was t

[2019-01-04 12:14] kamazee commented on #170
Do you basically mean forking it? Well, if @cogitatio doesn't respond to any requests related to this plugin, this might be the only option.

However, I don't think I follow the rest of the idea: what do you mean by "open this plugin up to be able to be managed by more in the community"?

As I see it, the project need people who are ready to review/merge pull requests and someone (or something) to

[2019-01-08 09:15] timichango commented on #92
this bastard issue got me too — after installing gasmask earlier today for the first time. Thanks, all, for pioneering the way of pain, and its resolution :)

[2019-01-09 11:50] emfluenceindia commented on #131
Whoa!! What a coincidence! :)

[2019-02-12 21:29] jfgossage opened #175 "Vagrant-hostsupdater does not install on Windows10 version 1809"
I attempted to install vagrant-hostsupdater on my Windows 10 Version 1809 system using the following command and getting result:
[code]
I assume that some needed configuration is missing but I am at a loss to know  what to do next.

[2019-02-20 15:28] iljamm commented on #92
In my case the culprit was Helm (hosts file manager just like Gas Mask), removing ACL (https://github.com/cogitatio/vagrant-hostsupdater/issues/92#issuecomment-311776229) from the hosts file did it for me.

[2019-03-29 07:29] saranyapurushothaman commented on #89
Ran cmder as administrator. Issue fixed.

[2019-04-03 19:19] imwithsam commented on #175
It looks like you may have misspelled `hostsupdater` as `hostupdater`. (It should be plural hosts, not host.)

[2019-04-14 06:55] danielgiljara commented on #89
Hi. This issue happened to me many times in Windows 10, by some reason the plugin vagrant-hostupdater begins to not ask for the UAC (the window that asks you for permissions). I don't know surely what things changed recently. I tunned the Windows disabling some services, I've VirtualBox at 5.2, don't changed due to a bug with 6.0 setup. I installed some Windows updates too. How can I debug this to

[2019-05-02 09:59] Spartelfant opened #178 "Crash if hosts file doesn't exist on Windows 10"
My hosts file had gotten messy (unrelated to hostsupdater) so I figured the simplest remedy was to delete it, assuming hostsupdater would recreate it if needed.

But instead `%WINDIR%\System32\drivers\etc\hosts` not existing lead to hostsupdater crashing, in turn causing vagrant to fail during provisioning. I've attached a textfile with the error output. As a sidenote, I was running vagrant from a

[2019-05-05 22:57] bredmor commented on #89
+1 to above, it's no longer prompting UAC and is now just failing on write attempt.

[2019-05-06 18:54] danielgiljara commented on #89
I restored my Windows using a restore point and it works again. Something changed in the OS caused this problem. If I have the issue again I will investigate more.

[2019-05-06 22:56] bredmor commented on #89
Changing the share type of the vagrant shared folder to NFS solved it for me.

[2019-05-07 18:40] danielgiljara commented on #89
I don't know if is the same issue but now, again, when I'm doing a vagrant reload or a vagrant halt I'm having the same error again. The only thing I see for the moment is that it fails at:

C:/Users/<user>/.vagrant.d/gems/2.4.4/gems/vagrant-hostsupdater-1.1.1.160/lib/vagrant-hostsupdater/HostsUpdater.rb

          hostsFile = File.open(@@hosts_path, "w")

This is theoretically that the app is que

[2019-05-26 07:00] mb-sven opened #179 "Can't install on Windows 10"
Hello, I already posted this issue on the VVV repo. When I try to install the hostsupdater Plugin, I get this error message:
`
Vagrant has detected project local plugins configured for this
project which are not installed.

  vagrant-hostsupdater
Install local plugins (Y/N) [N]: Y
Installing the 'vagrant-hostsupdater' plugin. This can take a few minutes...
C:/HashiCorp/Vagrant/embedded/mingw64/lib

[2019-07-09 05:51] AshokBaruaAkas commented on #89
I have same problem with the host file...

![image](https://user-images.githubusercontent.com/35798282/60862609-dca5bf00-a23f-11e9-9936-7caac65cfc73.png)

Please! Help..

Emergency.....

[2019-07-09 21:21] cgsmith commented on #89
@AshokBaruaAkas You should open an issue with Laragon. You are in the wrong GitHub issue.

[2019-07-09 21:25] cgsmith commented on #179
I think you are referencing this issue that you opened. https://github.com/Varying-Vagrant-Vagrants/VVV/issues/1821

Let me know [the version of Windows 10](https://support.microsoft.com/en-us/help/4027391/windows-10-see-which-version-you-have) you are running and I will try to duplicate it on my end.

[2019-07-09 21:26] cgsmith commented on #178
@Spartelfant good catch on this bug. I will make a check for a hosts file before attempting a write.

[2019-07-09 21:27] #175 closed

[2019-07-09 21:27] cgsmith commented on #171
I'll test this out locally.

[2019-07-10 06:16] mp-sven commented on #179
I am running Windows 10 with the newest build. I already solved this issue by switching to a mac. Now everything works fine. Thank you!

[2019-07-19 14:39] karlwilbur commented on #164
I'm still seeing this in 2019 on Ubuntu 18.04.2 (bionic):
[code]

I was using `vagrant` from Ubuntu's 18.04 repos. I ran `apt purge vagrant` to remove the installed `vagrant` (`Removing vagrant (1:2.0.3) ...`), then download and installed the latest `vagrant` from HashiCorp (`Setting up vagrant (1:2.2.5) ...`). After installing the latest version, I deleted `~/.vagrant.d` (`rm -rf ~/.vagrant.d`) a

[2019-07-19 14:43] cgsmith commented on #164
@karlwilbur `vagrant plugin install vagrant-hostsupdater`

[2019-07-19 14:44] #164 closed

[2019-07-19 14:51] karlwilbur commented on #164
@cgsmith Sheesh. Thanks. I *should* have seen that.

[2019-08-06 11:03] xymox12 opened #180 "Windows - not updating hosts"
Hi

This doesn't work for me or my colleagues on windows 7 and 10 machines - so I took a look at the code, and I'm a little confused how this is working for Windows users in it current setup (unless they have made their systems open to attack by modifying their 'hosts' attributes)...

## addToHosts

The line  ```if !File.writable_real?(@@hosts_path)``  is used and passes its bash commands to the s

[2019-08-06 15:37] cgsmith commented on #180
You mention great points and I will have to test them out to figure out a better way to manage the Windows prompt. In the meantime try this: https://github.com/cogitatio/vagrant-hostsupdater#windows-uac-prompt

[2019-08-07 07:28] xymox12 commented on #180
Hi - thanks for taking a look at this when you have time.

I am afraid I can't use your suggestion to add my user write  permission to the hosts file - I work in a University and the IT services tend to come down on us like a ton of bricks if they catch us reducing the security of our managed desktops. But thanks for the suggestion all the same.

[2019-08-14 09:54] kamazee commented on #170
@cgsmith actually, forking should go smoothly as the gem should be installed from rubygems, and it doesn't seem to care where a gem being pushed originates from; you listed as an owner there, so you have permissions to push. Basically, you can just fork this, change url on rubygems so people go the new place when they want to discover the source and that's it.
Are you still interested? If so, I ca

[2019-08-23 13:55] aijanai commented on #55
Could you please specify that it must be workstation's sudo password?
I was stuck in thinking that it was asking for sudo permission inside vagrant to modify its hosts file and not the one of my host:

[code]
 Maybe we could change the message to something more clarifying like: `This operation requires administrative access on your vagrant workstation`.

Thanks

[2019-09-04 09:14] peterdd opened #181 "IP conflicts between vm's"
When 2 vagrants with different ip addresses assigned in their Vagrantfile's, but the same domain configured and up, I see
2 entries for the same domain in hosts /etc/hosts, for instance

10.0.0.38  ldap.example.com  # VAGRANT: 8786....
10.0.0.39  ldap.example.com  # VAGRANT: bb25...

Shouldn't hostsupdater detect this? What should be done?  A warning shown during vagrant up? Just asking.

[2019-09-04 14:13] cgsmith commented on #181
Yea that should be picked up. Can you share your VagrantFile so I can reproduce?

[2019-10-01 06:24] JJ opened #182 "Failed to install this plugin"
With vagrant recently upgraded to 2.2.5,

    vagrant plugin install vagrant-hostsupdater --local

repeatedly fails with:

[code]

[2019-10-08 12:20] Bilge commented on #28
Because it still happens in 1.1.1.

[2019-10-17 17:20] charlieartist opened #183 "Permission changes in macOS Catalina"
macOS Catalina (10.15) brought a number of changes, particularly around security.

In standing up my VMs after the update, I'm seeing messages during the build process relating to this, particularly:
`sed: /etc/exports: Permission denied`

While this isn't affecting the successful build, could it be an issue in the future?

And regardless, would it be good to add a conditional or other change to d

[2019-10-18 19:49] charlieartist commented on #183
Went back over builds, discussed with colleagues. Issue resolved by:
`sudo mv /etc/exports /etc/exports_old`
`vagrant reload --provision`

After this, this warning no longer was appearing.

[2019-10-18 19:49] #183 closed

[2019-10-29 14:21] ndberg opened #184 "passwordless sudo on removing hosts not working"
System: macOS Mojave 10.14.6

I updated the sudoers file as recommended in README, but it does not work for **removing** hosts. For adding the hosts it works. I changed it directly to my username Andi as it didn't work with the admin group:

[code]

[code]

Does anyone know how the correct command in the sudoers file would be?

[2019-11-20 05:15] bunda3d commented on #89
This worked for me too--went to the hosts file, right-clicked, "edit" button and chose the "Users" profile to add all permission checks to. Was warned by windows popup.
Reentered "vagrant up" (vagrant provision did not work) and it started installing ansible and other dependencies.

[2020-01-02 11:20] unfulvio opened #185 "Issue with unmet dependencies with Fedora 31 and Vagrant 2.2.6 (has workaround)"
I ran into the following issue after updating to Fedora 31 from Fedora 30. I was running Vagrant 2.2.5 and then updated contextually to 2.2.6.

When doing a `vagrant up`, Vagrant threw some error about plugins needing attention, so I tried first to repair. That wasn't enough so I tried to reinstall - at that point I got this error:

[code]

I am not sure who introduced that dependency but the only

[2020-02-05 16:14] alnorth commented on #170
What's the current status on this? I've been trying to use the new aliases functionality from 1.1.0 and get the error message `no implicit conversion of Hash into Array`. I'm using 1.1.1.160.

If it's not supported by the version that's installed by `vagrant plugin install vagrant-hostsupdater` then maybe you should remove it from the readme as it's very confusing.

[2020-02-16 07:15] kamazee commented on #170
@alnorth , 1.1.1.160 is actuallly a 1.0.2, not 1.1.x. You can find reasons above in the thread; a maintainer (either current or a new one who's willing to fork it and maintain the fork) has to step in to resolve the issue.

[2020-02-17 09:09] alnorth commented on #170
@kamazee Can this be highlighted in the readme without a maintainer stepping in? It's very frustrating to read about something in the docs and then not be able to use it on the version that's installed using the recommended installation method.

[2020-02-17 09:16] kamazee commented on #170
I don't think so: even if one submits a pull request that removes the feature from the description or submits a fix that makes releasing of 1.1.x possible again, maintainer has to merge them. Yeah, it took me some debugging to understand what was going on but there's barely anything I can do.

[2020-03-13 09:07] codekandis commented on #89
I highly discourage everyone from doing this. In fact: **the result allows every application running under the current user to modify the hosts file**. This is an enormous security issue.

[2020-03-15 12:29] ElawadyNet commented on #14
On my mac  "DNS Lookup" it takes more than 5 seconds to resolve hosts file domains, Once I edit hosts file and copy all domains in one line, "DNS Lookup" returned to normal time.

[2020-03-19 17:59] jstnbr commented on #28
This issue is still happening for me, and the link above is broken. It's happening because I'm using the alias array feature. I remember a while ago this feature (listed in the Readme) did not work, and still does not work today.

[2020-03-19 20:26] jstnbr commented on #170
The alias array feature does not work for me either. It would be a very useful feature — especially considering that it's already in the documentation. Is this still priority and is there anything that can be done? Thanks!

[2020-04-06 18:02] ethanclevenger91 opened #186 "Using wrong IP with Hyper-V, Homestead"
I'm running Hyper-V and [Laravel Homestead](https://github.com/laravel/homestead). The IP address configured in Homestead.yaml is being used to update the hosts file instead of the IP reported by the box being started. Honestly, not 100% sure if this is on your end or their's.

Vagrantfile from homestead:

[code]

And that settings var gets pulled from a yaml file, like this one:

[code]

You can

[2020-04-27 20:54] jakedowns commented on #94
Same issue here in 2020 on mac and windows

[2020-11-17 08:11] reikjarloekl commented on #186
I do have a similar issue when using hyper-v. In my case, the IP reported by the started VM is not used either. Because the private-network is configured with ip: nil, no hosts entries are created at all. I can 'fix' this by manually setting the IP in the Vagrantfile, but this will obviously only work as long as the VM gets assigned the same IP (which seems to be the case so far judging after seve

[2020-11-23 03:25] fukasugi opened #187 "vagrant up & halt bring duplicate messages from hostsupdater"
As follows, when I conduct 'vagrant up' or 'vagrant halt', duplicated messages from this plugin appear and it makes multiple blank lines in hosts file in system32 (My OS is Windows10 Home).

I repeated installation and uninstallation during I examined vagrant, this might be the cause I'm not sure though?
And assignment of IP to hostname is working properly, but these messages are ridiculoutly ugly

[2020-11-23 21:51] geerlingguy commented on #102
I'm getting this today after updating to the latest version of Vagrant...

[code]

[2020-11-24 13:42] kamil-p commented on #28
I had similar issue with vagrant `2.2.14` I downgraded it to `2.2.9` and it worked.

[2020-11-24 16:42] #102 closed

[2020-11-24 17:09] cgsmith commented on #102
@geerlingguy can you test this out? https://github.com/agiledivider/vagrant-hostsupdater/releases/tag/1.2.0-beta

[2020-11-24 17:40] geerlingguy commented on #102
@cgsmith - That download worked perfect, thanks!

[2020-11-24 17:41] peteeckel commented on #102
Though I'm not @geerlingguy, I've just tested it and it works - although it seems pretty noisy to me:

[code]

[2020-11-24 17:42] geerlingguy commented on #102
@peteeckel - Heh, I noticed that too. 12 times when you do a reload! I think the main problem is Vagrant changed how it calls out to plugins in the latest version somehow—I noticed the `vagrant-vbguest` plugin is also dumping duplicate output a lot:

[code]

[2020-11-24 20:10] theodore86 commented on #187
Indeed,

Appeared right after vagrant upgrade from _2.2.13_ to _2.2.14_  (observed at Windows 10)

[2020-11-24 21:11] peteeckel commented on #102
`vagrant halt` isn't much better either:

[code]

But on the other hand it's working again.

[2020-11-24 21:40] geerlingguy commented on #102
@peteeckel - Heh, it's just being _really, really thorough_.

[2020-11-25 15:39] geerlingguy commented on #187
See: https://github.com/hashicorp/vagrant/issues/12070#issuecomment-732271918

[2020-11-26 02:07] sebastienrussellwr commented on #28
I have the same problem here with `2.2.14`

[2020-11-26 09:28] corbinjurgens commented on #28
Just updated to 2.2.14, and I also have this error even after updating plugins

[code]

[2020-11-26 10:01] Mte90 commented on #187
This plugin is dead this is the reason why we started goodhosts that is a fork of that https://github.com/goodhosts/vagrant

We have the same issue, but I am trying to understand how to fix it.

[2020-11-27 03:57] geerlingguy commented on #187
@Mte90 - I wouldn't quite call it _dead_... the latest commit is 2 days ago: https://github.com/agiledivider/vagrant-hostsupdater/commit/d35df1ba041a78b7b8e0147f2cf4f2e192887ca5

Some plugins, like this one, just kinda do the one thing they do, and do it well, and a lack of _active development_ over a long period of time ≠ the project is dead or unmaintained. I have a number of projects where I'm

[2020-11-27 11:41] Mte90 commented on #187
Well seems that after the last commit of february 2019 and the latest release of may 2018 there is a new version officially.

Well I have to project not active maintained but you have one with a lot of tickets and pr in queue since years, it is a fact that is dead also if works. Otherwise we will not fork it to create a new one that fix many issues on windows side and use an utility to manipulate

[2020-11-27 11:49] Mte90 commented on #187
To get back on track, as in Vagrant they are not helping on fixing this issue: https://github.com/hashicorp/vagrant/issues/12070#issuecomment-732271918

I tried various things to fix this issue without any success. The hook is appended in my tests in all the cases and the action get as parameter `env` but includes just the values when is added.

[2020-11-27 18:01] cgsmith commented on #187
Lol! @Mte90 calling a plugin dead is a pretty strong accusation. If you have any PRs or issues that you would like merged in just let me know and I'll gladly accept them.

I'll be looking at this early next week to see if there is something that can be done to clean up the nuisance messages but it is not a priority for me to fix immediately. Things that are a high priority are fixed and pushed.

[2020-11-27 18:06] cgsmith commented on #28
@corbinjurgens can you try to uninstall the plugin and then install it again?

[2020-12-01 20:00] andrew-pause commented on #28
I am having this seem issue with 2.2.14 on windows. uninstalling the plugin and reinstalling did not resolve the issue

[2020-12-02 09:17] asanCar commented on #28
@cgsmith reinstalling vagrant-hostsupdater solved the problem in my Ubuntu Linux.

In my case, I was facing the problem with those versions:
**Vagrant:** 2.2.14
**vagrant-hostsupdater plugin:** 1.1.1.160

Started to work with:
**Vagrant:** 2.2.14
**vagrant-hostsupdater plugin:** 1.2.0

[2020-12-03 13:42] skalinkin commented on #28
Just got the same error.

Bringing machine 'vgpm' up with 'virtualbox' provider...
==> vgpm: [vagrant-hostsupdater] Checking for host entries
==> vgpm: [vagrant-hostsupdater] Writing the following entries to (C:/WINDOWS/system32/drivers/etc/hosts)
==> vgpm: [vagrant-hostsupdater]   192.168.99.25  axs.local, keycloak  # VAGRANT: d41d8cd98f00b204e9800998ecf8427e (vgpm) /
Traceback (most recent call

[2020-12-03 14:06] ticketshop0devops opened #190 "Windows10 - Virtualbox - 6.1.16 r140961 - HostsUpdater.rb:152:in `+': no implicit conversion of nil into String"
vagrant up fails after updating to latest version

VirtualBox 6.1.16 r140961
vagrant: 2.2.14

Traceback (most recent call last):
        28: from C:/Program Files (x86)/HashiCorp/Vagrant/embedded/gems/2.2.14/gems/vagrant-2.2.14/lib/vagrant/batch_action.rb:86:in `block (2 levels) in run'
        27: from C:/Program Files (x86)/HashiCorp/Vagrant/embedded/gems/2.2.14/gems/vagrant-2.2.14/lib/vagrant/m

[2020-12-03 14:07] ticketshop0devops commented on #190
[HostsUpdater.zip](https://github.com/agiledivider/vagrant-hostsupdater/files/5636557/HostsUpdater.zip)

[2020-12-03 14:25] #190 closed

[2020-12-03 14:31] cgsmith commented on #190
@ticketshop0devops Can you test this pre-release before I push it out? https://github.com/agiledivider/vagrant-hostsupdater/releases/tag/1.2.1-beta

[2020-12-03 14:36] cgsmith commented on #28
@skalinkin This issue was raised to address. https://github.com/agiledivider/vagrant-hostsupdater/issues/190

If you want to help test if the gem works before releasing it you can do so here: https://github.com/agiledivider/vagrant-hostsupdater/releases/tag/1.2.1-beta

[2020-12-03 16:29] skalinkin commented on #28
Will do,
there are a couple more issues.
1. Windows hosts file format does not support commas. So plugin shouldn't
do 1.2.3.4 alias1, alias2, alias3 it should do
1.2.3.4 alias1
1.2.3.4 alias2
1.2.3.4 alias3
for windows.

it is not confirmed but on vagrant destroy, the plugin leaves extra
newline. So after 10 rebuilds I have 10 empty lines before vagrant section.

thanks.

On Thu, Dec 3, 2020 at 9:

[2020-12-03 16:31] ryanpcmcquen commented on #28
Wow, this bug won't die.

[2020-12-03 16:45] skalinkin commented on #28
Issue.
Multiple Checks for enty.
usign  1.2.1 BETA
<https://github.com/agiledivider/vagrant-hostsupdater/releases/tag/1.2.1-beta>

VAGRANT FILE
# -*- mode: ruby -*-
# vi: set ft=ruby :
GROUP_NAME = "/VGPM"
IMAGE_NAME = "geerlingguy/centos8"

Vagrant.configure("2") do |config|
  config.vagrant.plugins = "vagrant-hostsupdater"

  config.vm.box = IMAGE_NAME
  config.vm.network "private_network", ip:

[2020-12-03 16:51] cgsmith commented on #28
@skalinkin that issue is known about. The other issues please create a new bug so we aren't resurrecting this one.

[2020-12-07 23:03] scott-slash opened #191 "Stop plugin from updating known_hosts"
Every time I vagrant up, then SSH into my vagrant/virtualbox VM I get this:

The authenticity of host 'vm.local (192.168.12.34)' can't be established.
ECDSA key fingerprint is SHA256:d31c5xPxxxxxxxxxxxxxxxxxxxxxxxxQSjxhFg9iBEgu4.
Are you sure you want to continue connecting (yes/no/[fingerprint])?

Every. Damn. Time.

How do I get this plugin to stop altering my known_hosts file, and keep the fing

[2020-12-08 23:16] yayMark commented on #190
Still happens for me

[2020-12-11 08:51] rogerpfaff opened #192 "Windows 10 - Vagrant 2.2.14 - HostsUpdater.rb:152:in `+': no implicit conversion of nil into String"
As in #190 when using Vagrant 2.2.14 throws an error about the conversion of nil to String. It works with vagrant 2.2.10, no info about the inbetween versions at this time.

[2020-12-14 10:26] rogerpfaff commented on #192
I can confirm the beta version working.

[2020-12-14 15:42] skukla opened #193 "Plugin executed several times during vagrant execution as of Vagrant version 2.2.14"
Upon updating to vagrant 2.2.14 and running a relevant vagrant command which adds hosts (up, provision, reload), I see that the "Checking for Hosts Entries" operation executes several times at different times during the process.  Consider a machine which has a hostname `luma.demo` and one alias, `b2b.luma.demo`:

[code]

When digging for information on this issue, I found the following github issu

[2020-12-18 19:22] iainhouston commented on #193
Same multiple apparent host updates here, with these:

[code]

[2020-12-22 07:12] JABirchall opened #194 "HostsUpdater.rb:153:in `initialize': Invalid argument @ rb_sysopen"
Getting this error with hostupdater when using Vagrant with VMWare 16 provider

[code]

[2020-12-22 21:28] cgsmith commented on #194
What version of vagrant are you running?

[2020-12-22 21:35] JABirchall commented on #194
Latest version 2.2.14
I had to unstinstall it and reinstall it for VMWare 16 support.

Then when i reinstalled the host updater and started a VM it will error out.

[2020-12-22 21:44] cgsmith commented on #194
Can you [determine what the machine ID ](https://stackoverflow.com/questions/37622689/is-it-possible-to-determine-the-id-of-vagrant-vm-in-the-vagrantfile) of your VM is?

[2020-12-22 21:46] JABirchall commented on #194
Is it this? d51d9ce9-18ac-48bf-9d32-4a22c22315eb

If thats not it, Im using laravel/homestead

[2020-12-30 11:37] sidneygijzen commented on #193
This looks like the same issue as described in #187.

As far as I know there is no workaround yet. The maintainer [is currently looking into it](https://github.com/agiledivider/vagrant-hostsupdater/issues/187#issuecomment-734939967).

[2021-01-04 23:43] scott-slash commented on #191
bump

[2021-01-22 14:35] jamieburchell opened #195 "No entries written to C:/Windows/system32/drivers/etc/hosts"
Vagrant version: 2.2.9
Plugin version: 1.2.1
Windows version: 10 Pro

In an administrator prompt after running `vagrant up` I see these lines in the terminal:

[code]

`vagrant halt` shows:

[code]

However, no entries appear in the Windows hosts file.

I have also set my own user account so that I can edit the hosts file without administrator privileges.

[2021-01-27 14:39] talheim-it commented on #171
@cgsmith

Same on Fedora 33:
Vagrant failed to properly resolve required dependencies. These
errors can commonly be caused by misconfigured plugin installations
or transient network issues. The reported error is:

conflicting dependencies racc (= 1.4.16) and racc (= 1.5.1)
  Activated racc-1.5.1
  which does not match conflicting dependency (= 1.4.16)

  Conflicting dependency chains:
    racc (=

[2021-02-01 22:13] Enchiridion commented on #194
I just updated Vagrant and Vagrant VMware utility, which then required me to update my plugins and now I'm getting the exact same error and stack trace with the latest version.

I was previously using version 1.1.1.160. When I roll back to that version everything works again. I tried 1.2.0 and got the same error as 1.2.1.

Versions:
Vagrant 2.2.14
VMWare 15
vagrant-hostsupdater 1.2.1

[2021-02-03 17:55] oxyc opened #196 "Impossible to disable hostsupdater"
Currently even if you set `hostsupdater: 'skip'` on the network, 127.0.0.1 is still added as a hosts entry only  by having the plugin installed.

https://github.com/agiledivider/vagrant-hostsupdater/blob/38eee8150cb659e69abebf4cc55eb2ad8e1bd4a5/lib/vagrant-hostsupdater/HostsUpdater.rb#L45

Consequently there's no way to entirely  disable hostsupdater and it breaks compatibility with eg. vagrant-ho

[2021-02-12 19:00] BR0kEN- commented on #187
Here is the PR to resolve the issue https://github.com/agiledivider/vagrant-hostsupdater/pull/197.

[2021-02-12 19:01] BR0kEN- commented on #193
This one is definitely a dup of #187. I just provided the PR with the fix, see https://github.com/agiledivider/vagrant-hostsupdater/issues/187#issuecomment-778387163.

[2021-03-11 14:33] Jonanien commented on #158
This still seems to be an issue
![image](https://user-images.githubusercontent.com/7956514/110803119-26e60b80-827f-11eb-8093-321c628cc95e.png)

[2021-04-02 17:56] #187 closed

[2021-04-02 17:56] #193 closed

[2021-04-05 06:21] skyscooby opened #198 "1.2.2 borked Vagrantfile with multiple hosts."
with Vagrant 2.2.15

**1.2.1**
192.168.48.3  fe1.vagrant.virt  # VAGRANT: d41d8cd98f00b204e9800998ecf8427e (fe1) /
192.168.48.4  be1.vagrant.virt  # VAGRANT: d41d8cd98f00b204e9800998ecf8427e (be1) /

**1.2.2 (only first host added to host file)**
192.168.48.3  fe1.vagrant.virt  # VAGRANT: d41d8cd98f00b204e9800998ecf8427e (fe1) /

Also the entries are no longer removed at all with a vagrant destroy

[2021-04-05 06:46] BR0kEN- commented on #198
From what I understood, it no longer works with aliases, right? Can you post a minimal Vagrantfile to reproduce?

[2021-04-05 06:56] skyscooby commented on #198
Sure thing.. thanks for looking just a single frontend and backend server:
[code]

Output.. you can see the plugin is only called on fe1 and not for be1
[code]

[2021-04-05 07:53] BR0kEN- commented on #198
The bug confirmed. I'll make a PR in a moment as it's quite easy to fix.

The problem with the code I introduced in #197 is that it doesn't account a multi-machine use.

[2021-04-05 11:09] cgsmith commented on #198
Thanks @BR0kEN-

[2021-04-05 12:53] #198 closed

[2021-04-05 16:26] skyscooby opened #200 "1.2.3 hosts are no longer removed on destroy"
Historically destroy of environment removes the /etc/hosts entries so they do not build up over time. Since 1.2.2 changes this is no longer hooking into the destroy sequence properly.

@BR0kEN- This is in follow up to #198. I mentioned it but it didn't get fixed with that fix but you can use the same Vagrantfile to reproduce

**1.2.1**
[code]

**1.2.3**
[code]

[2021-04-05 16:29] BR0kEN- commented on #200
The fix incorporated into 1.2.3 is not able to remove broken entries produced by 1.2.2. Please clean up `/etc/hosts` manually and do `vagrant up` and `vagrant destroy` once again.

[2021-04-05 16:38] skyscooby commented on #200
Cleaned up manually and retried.. still the same, the plugin is not being called on destroy.

I suspect this is due to the fact you are using a Class Variable @@completed that is shared across all descendants of the class. This variable should probably be defined in each 'Action' explicitly so they each get their own state management and would allow each to run once per machine.

[2021-04-05 16:39] skyscooby commented on #200
Alternatively @@completed needs to not just be keyed by machine but also by the action being requested.

[2021-04-05 22:00] #200 closed

[2021-04-21 22:50] JABirchall commented on #194
Why is this marked wontfix?

[2021-04-21 23:32] cgsmith commented on #194
Because this repo is abandoned. I cannot get full control from Faulk. Best longevity is to fork it.

[2021-05-01 17:36] Nisus-Liu commented on #195
貌似我也是呢，日志显示写入了，实际上 hosts 并没有改变。

[2021-10-29 02:46] OC350zz commented on #131
I was doing the same .. wow

[2022-02-28 11:34] FL-K opened #204 "updater-1.2.4/lib/vagrant-hostsupdater/HostsUpdater.rb:132:in `+': no implicit conversion of nil into String"
`
updater-1.2.4/lib/vagrant-hostsupdater/HostsUpdater.rb:132:in `+': no implicit conversion of nil into String
`

[code]